<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form *ngIf="active" #mstSleColorGradesProducesForm="ngForm" novalidate (ngSubmit)="save()"
				autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title">
						<span *ngIf="mstSleColorGradesProduces.id">{{l("MstSleColorByGradeEditMstSleInteriorColorGradesProduces")}}</span>
						<span *ngIf="!mstSleColorGradesProduces.id">{{l("MstSleColorByGradeCreateNewMstSleInteriorColorGradesProduces")}}</span>
					</h4>
					<button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
						<div class="kt-portlet kt-portlet--mobile">
							<div class="kt-portlet__body">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<tmss-combobox [isDisabled]="false" [isRequired]="true" required [items]="listColors"
                        					[text]="l('MstSleColorByGradeColor')" name="ColorName"
                        					[(ngModel)]="mstSleColorGradesProduces.colorId"></tmss-combobox>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("MstSleColorByGradeColor")}}</span>
												<select class="col-md-7 form-control-combobox ipStRequire"
													[(ngModel)]="mstSleColorGradesProduces.colorId" name="ColorName"
													required>
													<option *ngFor="let color of listColors" [value]="color.colorId">
														{{color.color}}</option>
												</select>
											</div> -->
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<tmss-combobox [isDisabled]="true" [isRequired]="true" required [items]="listProduction"
                        					[text]="l('MstSleColorByGradeProduce')" name="produce"
                        					[(ngModel)]="mstSleColorGradesProduces.produceId"></tmss-combobox>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("MstSleColorByGradeProduce")}}</span>
												<select class="col-md-7 form-control-combobox ipStRequire" disabled
													[(ngModel)]="mstSleColorGradesProduces.produceId" name="produce"
													required>
													<option *ngFor="let pro of listProduction" [value]="pro.id">
														{{pro.productionCode}}</option>
												</select>
											</div> -->
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" 
                        					[text]="l('MstSleColorByGradeOrdering')" name="Ordering" [(ngModel)]="mstSleColorGradesProduces.ordering" [maxlength]="4">
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("MstSleColorByGradeOrdering")}}</span>
												<input type="number" class="col-md-7 form-control-combobox"
													oninput="this.value=this.value.slice(0,this.maxLength||''); this.value=(this.value < 1) ? '' : this.value;"
													min="1" max="9999" maxlength="4"
													[(ngModel)]="mstSleColorGradesProduces.ordering" name="Ordering" />
											</div> -->
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<tmss-combobox [isDisabled]="false" [isRequired]="true" required [items]="listStatus"
                        					[text]="l('MstSleColorByGradeStatus')" name="Region"
                        					[(ngModel)]="mstSleColorGradesProduces.status"></tmss-combobox>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("MstSleColorByGradeStatus")}}</span>
												<select class="col-md-7 form-control-combobox ipStRequire"
													[(ngModel)]="mstSleColorGradesProduces.status" name="Region"
													required>
													<option value="Y">{{l("MstSleColorByGradeMstSleEnable")}}</option>
													<option value="N">{{l("MstSleColorByGradeMstSleDisable")}}</option>
												</select>
											</div> -->
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" 
                        					[text]="l('MstSleColorByGradeDescription')" name="Description" [(ngModel)]="mstSleColorGradesProduces.description" [maxlength]="50">
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("MstSleColorByGradeDescription")}}</span>
												<input type="text" class="col-md-7 form-control-combobox"
													[(ngModel)]="mstSleColorGradesProduces.description"
													name="Description" maxlength="50" />
											</div> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark"
							(click)="close()">{{l("MstSleColorByGradeCancel")}}</button>
						<button type="submit" class="tmss-btn btn-outline-primary"
							[disabled]="!mstSleColorGradesProducesForm.form.valid" [buttonBusy]="saving"
							[busyText]="l('MstSleColorByGradeSavingWithThreeDot')"><i class="fa fa-save mr-1"></i>
							<span>{{l("MstSleColorByGradeSave")}}</span></button>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>