<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form *ngIf="active" #mstSleGradesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title">
						<span *ngIf="mstSleGrades.id">{{l("EditMstSleGrades")}}</span>
						<span *ngIf="!mstSleGrades.id">{{l("CreateNewMstSleGrades")}}</span>
					</h4>
					<button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                        <div class="kt-portlet kt-portlet--mobile">
                            <div class="kt-portlet__body">
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" [isRequired]="true" required
                        					[text]="l('MarketingCode')" name="MarketingCode" [(ngModel)]="mstSleGrades.marketingCode" [maxlength]="25">
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="input-group-addon col-md-5">{{l("MarketingCode")}} </span>
												<input type="text" maxlength="25" class="col-md-7 form-control-combobox ipStRequire"
													[(ngModel)]="mstSleGrades.marketingCode" name="MarketingCode" required />
											</div> -->
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" 
                        					[text]="l('EnName')" name="EnName" [(ngModel)]="mstSleGrades.enName" [maxlength]="50">
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="input-group-addon col-md-5">{{l("EnName")}}</span>
												<input type="text" maxlength="50" class="col-md-7 form-control-combobox"
													[(ngModel)]="mstSleGrades.enName" name="EnName" />
											</div> -->
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" 
                        					[text]="l('VnName')" name="VnName" [(ngModel)]="mstSleGrades.vnName" [maxlength]="50">
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="input-group-addon col-md-5">{{l("VnName")}}</span>
												<input type="text" maxlength="50" class="col-md-7 form-control-combobox" [(ngModel)]="mstSleGrades.vnName" name="VnName" />
											</div> -->
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" [type]="number"
                        					[text]="l('MstSleColorByGradeSeatNo')" name="SeatNo" [(ngModel)]="mstSleGrades.seatNo" [maxlength]="50">
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="input-group-addon col-md-5">{{l("MstSleColorByGradeSeatNo")}}</span>
												<input type="number" maxlength="50" class="col-md-7 form-control-combobox" [(ngModel)]="mstSleGrades.seatNo" name="SeatNo" 
												oninput="this.value=this.value.slice(0,this.maxLength||''); this.value=(this.value < 1) ? '' : this.value;" min="1" max="9999" maxlength="4"/>
											</div> -->
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" [type]="number" [isRequired]="true" required
                        					[text]="l('Ordering')" name="Ordering" [(ngModel)]="mstSleGrades.ordering">
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="input-group-addon col-md-5">{{l("Ordering")}}</span>
												<input type="number" class="col-md-7 form-control-combobox ipStRequire" oninput="this.value=this.value.slice(0,this.maxLength||''); this.value=(this.value < 1) ? '' : this.value;" min="1" max="9999" maxlength="4"
												[(ngModel)]="mstSleGrades.ordering" name="Ordering" required/>
											</div> -->
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<tmss-combobox [isDisabled]="false"  [items]="listStatus"
                        					[text]="l('Status')" name="Status"
                        					[(ngModel)]="mstSleGrades.status"></tmss-combobox>
											<!-- <div class="row input-group">
												<span class="input-group-addon col-md-5">{{l("Status")}}</span>
												<select class="col-md-7 form-control-combobox" [(ngModel)]="mstSleGrades.status" name="Status">
													<option value="Y">{{l("MstSleEnable")}}</option>
													<option value="N">{{l("MstSleDisable")}}</option>
												</select>
											</div> -->
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<tmss-combobox [isDisabled]="false"  [items]="listCbuCkd" [isRequired]="true" required
                        					[text]="l('CbuCkd')" name="CbuCkd"
                        					[(ngModel)]="mstSleGrades.cbuCkd"></tmss-combobox>
											<!-- <div class="row input-group">
												<span class="input-group-addon col-md-5">{{l("CbuCkd")}}</span>
												<select class="col-md-7 form-control-combobox ipStRequire" [(ngModel)]="mstSleGrades.cbuCkd" name="CbuCkd" required>
													<option value="Y">{{l("CBU")}}</option>
													<option value="N">{{l("CKD")}}</option>
													<option value="L">{{l("Lexus")}}</option>
												</select>
											</div> -->
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" [type]="number" [isRequired]="true" required
                        					[text]="l('InsurancePaymentLoad')" name="insurancePayLoad" [(ngModel)]="mstSleGrades.insurancePayLoad">
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="input-group-addon col-md-5">{{l("InsurancePaymentLoad")}}</span>
												<input type="number" class="col-md-7 form-control-combobox ipStRequire" 
												[(ngModel)]="mstSleGrades.insurancePayLoad" name="insurancePayLoad" required/>
											</div> -->
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<tmss-combobox [isDisabled]="false"  [items]="listAudio"
                        					[text]="l('IsHasAudio')" name="Audio"
                        					[(ngModel)]="mstSleGrades.isHasAudio"></tmss-combobox>
											<!-- <div class="row input-group">
												<span class="input-group-addon col-md-5">{{l("IsHasAudio")}}</span>
												<select class="col-md-7 form-control-combobox" [(ngModel)]="mstSleGrades.isHasAudio" name="Audio">
													<option value=""></option>
													<option value="Y">{{l("Yes")}}</option>
													<option value="N">{{l("No")}}</option>
												</select>
											</div> -->
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<tmss-combobox [isDisabled]="false"  [items]="listIsFirmColor"
                        					[text]="l('IsFirmColor')" name="IsFirmColor"
                        					[(ngModel)]="mstSleGrades.isFirmColor"></tmss-combobox>
											<!-- <div class="row input-group">
												<span class="input-group-addon col-md-5">{{l("IsFirmColor")}}</span>
												<select class="col-md-7 form-control-combobox" [(ngModel)]="mstSleGrades.isFirmColor" name="IsFirmColor">
													<option value=""></option>
													<option value="Y">{{l("Yes")}}</option>
													<option value="N">{{l("No")}}</option>
												</select>
											</div> -->
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<tmss-combobox [isDisabled]="false"  [items]="gasolineTypes" [isRequired]="true" required
                        					[text]="l('Fuel')" name="GasolineTypeId"
                        					[(ngModel)]="mstSleGrades.gasolineTypeId"></tmss-combobox>
											<!-- <div class="row input-group">
												<span class="input-group-addon col-md-5">{{l("Fuel")}}</span>
												<select class="col-md-7 form-control-combobox ipStRequire" [(ngModel)]="mstSleGrades.gasolineTypeId" required name="GasolineTypeId" required>
													<option *ngFor="let fuel of gasolineTypes" [value]="fuel.value">{{fuel.name}}</option>
												</select>
											</div> -->
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<tmss-combobox [items]="listPickup"
												[text]="l('MstSleGradeIsPickup')" name="isPickup" 
												[(ngModel)]="mstSleGrades.isPickup">
											</tmss-combobox>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark"
						(click)="close()">{{l("Cancel")}}</button>
					<button type="submit" class="tmss-btn btn-outline-primary" [disabled]="!mstSleGradesForm.form.valid"
						[buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save mr-1"></i>
						<span>{{l("Save")}}</span></button>
				</div>
			</form>
		</div>
	</div>
</div>