<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true">
    <div class="modal-dialog tmss-modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #mstGenDealersForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="mstGenDealers.id">{{ l("MstGenDealersEdit") }}</span>
                        <span *ngIf="!mstGenDealers.id">{{ l("MstGenDealersCreate") }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                        <div class="kt-portlet kt-portlet--mobile">
                            <div class="kt-portlet__body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [className]="'ipStRequire'" [isDisabled]="false" [isRequired]="true" required
                                                [(ngModel)]="mstGenDealers.code" [text]="l('MstGenDealersCode')" name="Code" [maxlength]="50">
                                            </tmss-text-input>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [className]="'ipStRequire'" [isDisabled]="false" [isRequired]="true" required
                                                [(ngModel)]="mstGenDealers.abbreviation" [text]="l('MstGenDealersAbbreviation')" name="Abbreviation" [maxlength]="50">
                                            </tmss-text-input>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-combobox
                                                [className]="'ipStRequire'" [isDisabled]="false" [isRequired]="true" [items]="listDealerTmv"
                                                [text]="l('MstGenDealersIsDealer')" name="isDealer" [(ngModel)]="mstGenDealers.isDealer" required>
                                            </tmss-combobox>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-combobox
                                                [className]="'ipStRequire'" [isDisabled]="false" [isRequired]="true" [items]="listGroupDealer" [text]="l('MstGenDealersDealerGroup')"
                                                name="dealerGroupId" [(ngModel)]="mstGenDealers.dealerGroupId" required>
                                            </tmss-combobox>

                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-combobox
                                                [className]="'ipStRequire'" [isDisabled]="false" [isRequired]="false" [items]="listParent" [text]="l('MstGenDealersDealerParent')"
                                                name="dealerParent" [(ngModel)]="mstGenDealers.dealerParentsId" >
                                            </tmss-combobox>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-combobox
                                                [className]="'ipStRequire'" [isDisabled]="false" [isRequired]="true" [items]="listDealerType"
                                                name="DealerType" [(ngModel)]="mstGenDealers.dealerTypeId" [text]="l('MstGenDealersDealerType')" required>
                                            </tmss-combobox>

                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [className]="'ipStRequire'" [isDisabled]="false" [isRequired]="true" required
                                                [(ngModel)]="mstGenDealers.vnName" [text]="l('MstGenDealersVnName')" name="VnName" [maxlength]="2000">
                                            </tmss-text-input>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [className]="'ipStRequire'" [isDisabled]="false" [isRequired]="false" name="EnName"
                                                [(ngModel)]="mstGenDealers.enName" [text]="l('MstGenDealersEnName')"  [maxlength]="2000">
                                            </tmss-text-input>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-combobox
                                                [className]="'ipStRequire'" [isDisabled]="false" [isRequired]="true" [items]="listLexus"
                                                name="IsLexus" [(ngModel)]="mstGenDealers.islexus" [text]="l('MstGenDealersIsLexus')" required>
                                            </tmss-combobox>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [isDisabled]="false" [isRequired]="false" name="TaxCode"
                                                [(ngModel)]="mstGenDealers.taxCode" [text]="l('MstGenDealersTaxCode')" [maxlength]="25">
                                            </tmss-text-input>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [isDisabled]="false" [isRequired]="false" name="AccountNo"
                                                [(ngModel)]="mstGenDealers.accountNo" [text]="l('MstGenDealersAccountNo')" [maxlength]="50">
                                            </tmss-text-input>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [isDisabled]="false" [isRequired]="false" name="Ordering" [type]="number"
                                                [(ngModel)]="mstGenDealers.ordering" [text]="l('MstGenDealersOrdering')"
                                                oninput="this.value=this.value.slice(0,this.maxLength||'');
                                                this.value=(this.value < 1) ? '' : this.value;"
                                                min="1" max="99999" [maxlength]="5">
                                            </tmss-text-input>

                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [isDisabled]="false" [isRequired]="false" name="ContactPerson"
                                                [(ngModel)]="mstGenDealers.contactPerson" [text]="l('MstGenDealersContactPerson')" [maxlength]="50">
                                            </tmss-text-input>


                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [isDisabled]="false" [isRequired]="false" name="contractRole"
                                                [(ngModel)]="mstGenDealers.contractRole" [text]="l('MstGenDealersContractRole')" [maxlength]="250">
                                            </tmss-text-input>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [isDisabled]="false" [isRequired]="false" name="Phone" placeholder="**********" pattern="[0-9]+" onkeypress="reportValidity()" title="At least six number"
                                                [(ngModel)]="mstGenDealers.phone" [text]="l('MstGenDealersPhone')" [maxlength]="20">
                                            </tmss-text-input>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [isDisabled]="false" [isRequired]="false" name="Fax" placeholder="**********" pattern="[0-9]+" onkeypress="reportValidity()" title="At least six number"
                                                [(ngModel)]="mstGenDealers.fax" [text]="l('MstGenDealersFax')" [maxlength]="20" title="At least six number">
                                            </tmss-text-input>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [isDisabled]="false" [isRequired]="false" name="Address"
                                                [(ngModel)]="mstGenDealers.address" [text]="l('MstGenDealersAddress')" [maxlength]="2000" >
                                            </tmss-text-input>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-combobox
                                                [className]="'ipStRequire'" [isDisabled]="false" [isRequired]="true" [items]="listProvince" (change)="onChangeProvince()"
                                                name="provinceId" [(ngModel)]="mstGenDealers.provinceId" [text]="l('MstGenDealersProvince')" required>
                                            </tmss-combobox>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-combobox
                                                [className]="'ipStRequire'" [isDisabled]="false" [isRequired]="false" [items]="listDistrict"
                                                name="districtId" [(ngModel)]="mstGenDealers.districtId" [text]="l('District')" >
                                            </tmss-combobox>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [isDisabled]="false" [isRequired]="false" name="Bank"
                                                [(ngModel)]="mstGenDealers.bank" [text]="l('MstGenDealersBank')" >
                                            </tmss-text-input>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [isDisabled]="false" [isRequired]="false" name="BankAddress"
                                                [(ngModel)]="mstGenDealers.bankAddress" [text]="l('MstGenDealersBankAddress')" >
                                            </tmss-text-input>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [isDisabled]="false" [isRequired]="false" name="Description" [maxlength]="250"
                                                [(ngModel)]="mstGenDealers.description" [text]="l('MstGenDealersDescription')" >
                                            </tmss-text-input>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [isDisabled]="false" [isRequired]="false" name="AuthorizationInfo" [maxlength]="250"
                                                [(ngModel)]="mstGenDealers.authorizationInfo" [text]="l('MstGenDealersAuthorizationInfo')" >
                                            </tmss-text-input>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-combobox
                                                [className]="'ipStRequire'" [isDisabled]="false" [isRequired]="true" [items]="listStatus"
                                                name="status" [(ngModel)]="mstGenDealers.status" [text]="l('Status')" required>
                                            </tmss-combobox>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-combobox
                                                [isDisabled]="false" [isRequired]="false" [items]="listGroupSwap"
                                                name="GroupSwap" [(ngModel)]="mstGenDealers.groupSwapId" [text]="l('MstGenDealersGroupSwap')" >
                                            </tmss-combobox>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-combobox
                                                [isDisabled]="false" [isRequired]="false" [items]="listGroupDispatchFrom"
                                                name="groupDispatchFromId" [(ngModel)]="mstGenDealers.groupDispatchFromId" [text]="l('MstGenDealersDispatchGroup')" >
                                            </tmss-combobox>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-combobox
                                                [isDisabled]="false" [isRequired]="false" [items]="listGroupArrivalTo"
                                                name="groupArrivalToId" [(ngModel)]="mstGenDealers.groupArrivalToId" [text]="l('MstGenDealersArrivalGroup')" >
                                            </tmss-combobox>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-combobox
                                                [isDisabled]="false" [isRequired]="false" [items]="listDealer"
                                                name="GroupManager" [(ngModel)]="mstGenDealers.groupManagerId" [text]="l('MstGenDealersGroupManager')" >
                                            </tmss-combobox>

                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [isDisabled]="false" [isRequired]="false" name="linkWebsite"
                                                [(ngModel)]="mstGenDealers.linkWebsite" [text]="l('MstSleGenDealerLinkWebsite')" >
                                            </tmss-text-input>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [isDisabled]="false" [isRequired]="false" name="MapUrl"
                                                [(ngModel)]="mstGenDealers.mapUrl" [text]="l('MstSleGenDealerMapUrl')" >
                                            </tmss-text-input>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <tmss-text-input
                                                [isDisabled]="false" [isRequired]="false" name="operatingTime" [rows]="1"
                                                [(ngModel)]="mstGenDealers.operatingTime" [text]="l('MstSleGenDealerOperatingTime')" >
                                            </tmss-text-input>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-checkbox
                                            name="IsUsingApp" [rightCheckbox]="true" [(ngModel)]="mstGenDealers.isUsingApp" [text]="l('IsUsingApp')">

                                            </tmss-checkbox>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-3">
                                        <div class="form-group">
                                            <tmss-checkbox name="IsUsingApp" [(ngModel)]="mstGenDealers.isUsingApp" [text]="l('IsUsingApp')"></tmss-checkbox>
                                        </div>
                                    </div> -->
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{l("MstSleGenDealerGroupInsurance")}}</span>
                                                    <select name="groupInsurance" type="text" class="col-md-7 form-control-combobox"
                                                            [(ngModel)]="mstGenDealers.groupInsuranceId">
                                                    <option *ngFor="let Insurance of listInsurance" [value]="Insurance.value">
                                                        {{Insurance.label}}
                                                    </option>
                                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <tmss-combobox
                                                [isDisabled]="false" [isRequired]="false" [items]="listLoyalty"
                                                name="Loyalty" [(ngModel)]="mstGenDealers.groupLoyaltyId" [text]="l('Loyalty')" >
                                            </tmss-combobox>

                                        </div>
                                    </div>
                                </div>
                                <div class="row-12">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark" (click)="close()">
                        {{ l("Cancel") }}
                    </button>
                    <button type="submit" class="tmss-btn btn-outline-primary" [buttonBusy]="saving" [disabled]="!mstGenDealersForm.form.valid" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save mr-1"></i>
                        <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
