<div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'" [busyIf]="loading">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <div [hidden]="!advancedFiltersAreShown">
                <div class="row align-items-center">
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="customerName" [text]="l('SalesCustomerName')" name="IndividualCustomerName"></tmss-text-input>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="customerTel1" [text]="l('MstGenDealersPhone')" name="customerTel1"></tmss-text-input>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="hotnesses" [text]="l('SalesCustomerHotness')" name="IndividualCustomerHotness" [(ngModel)]="hotnessId"></tmss-combobox>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="salesPersons" [text]="l('SalesCustomerSalesPerson')" name="IndividualCustomerSalesPerson" [(ngModel)]="salePersonId"></tmss-combobox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="models" [text]="l('Model')" name="modelId" [(ngModel)]="modelId" (change)="getGradeByModel($event.target.value)"></tmss-combobox>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="grades" [text]="l('Grade')" name="gradeId" [(ngModel)]="gradeId"></tmss-combobox>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="provinces" [text]="l('SalesCustomerProvince')" name="individualProvinceId" [(ngModel)]="provinceId" (change)="getDistrictByProvince($event.target.value)"></tmss-combobox>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="districts" [text]="l('SalesCustomerDistrict')" name="individualDistrictId" [(ngModel)]="districtId"></tmss-combobox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="units" [text]="l('SalesCustomerDepartment')" name="unit" [(ngModel)]="unitId"></tmss-combobox>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="sources" [text]="l('SalesCustomerSource')" name="individualSourceId" [(ngModel)]="sourceId"></tmss-combobox>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-datepicker [isDisabled]="false" [isRequired]="false" [(ngModel)]="fromDate" [text]="l('FromDate')" name="fromDate"></tmss-datepicker>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-datepicker [isDisabled]="false" [isRequired]="false" [(ngModel)]="toDate" [text]="l('ToDate')" name="toDate"></tmss-datepicker>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-12">
                    <grid-table
                        [columnDefs]="columnDefs" 
                        [defaultColDef]="defaultColDef"
                        (callBackEvent)="callBackGrid($event)"
                        [paginationParams]="paginationParams"
                        (changePaginationParams)="changePage($event)"
                        (onChangeSelection)="onChangeSelection($event)"
                        [frameworkComponents]='frameworkComponents'
                        [height]="'440px'"
                        [rowData]="list"
                        (cellValueChanged)="onCellValueChanged($event)"
                        [sideBar] = "sideBar"
                    ></grid-table>
                </div>
            </div>
        </div>
    </div>
</div>