<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog tmss-modal-md">
        <div class="modal-content">
            <div class="modal-header redline-header">
                <h4 class="modal-title">
                    <span>{{ l("Danh sách NVBH") }}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" (keyup)="eventEnter($event)" />
                                <button (click)="search()" class="tmss-btn btn-outline-primary" type="submit">
                                    <i class="fa fa-search mr-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="tbContent">{{l('Danh sách NVBH')}}</div>
                        <grid-table
                            [columnDefs]="columnDefs" 
                            [defaultColDef]="defaultColDef"
                            (callBackEvent)="callBackGrid($event)"
                            (onChangeSelection)="onChangeSelection($event)" 
                            [showPagination]="false"
                            [height]="'205px'"
                            (cellValueChanged)="onCellValueChanged($event)"
                            [frameworkComponents]='frameworkComponents'
                        ></grid-table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="tmss-btn btn-outline-primary"(click)="assignCustomerToSalePerson()">
                    {{l("Save")}}
                </button>
                <button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark"(click)="close()">
                    {{l("Cancel")}}
                </button>
            </div>
        </div>
    </div>
</div>
