<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item redline-header" [busyIf]="loading">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title"><span>{{l("CustomerManagement")}}</span></h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">{{l("SalesCustomerAssignmentCustomer")}}</span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <div class="primeng-paging-container">
                        <button class="tmss-btn btn-outline-primary mr-0" (click)="createNewAssignmentCustomer()">
                            <i class="fas fa-plus-square mr-1"> {{l('Tạo mới KH chuyển giao')}}</i>
                        </button>
                        <button (click)="contactResult()" class="tmss-btn btn-outline-primary mr-0">
                            <i class="fa fa-reply-all mr-1"> {{l('Liên hệ')}}</i>
                        </button>
                        <button (click)="assignToPerson()" class="tmss-btn btn-outline-primary mr-0">
                            <i class="fa fa-reply-all mr-1"> {{l('SalesCustomerAssignCustomerToSalesPerson')}}</i>
                        </button>
                        <button (click)="onChangeFilterShown()" *ngIf="!advancedFiltersAreShown" class="tmss-btn btn-outline-primary mr-0">
                            <i class="fa fa-search"></i> {{l("SalesPersonShowAdvancedFilters")}}
                        </button>
                        <button (click)="onChangeFilterShown()" *ngIf="advancedFiltersAreShown" class="tmss-btn btn-outline-primary mr-0">
                            <i class="fa fa-search"></i> {{l("SalesPersonHideAdvancedFilters")}}
                        </button>
                        <div class="btn-group" dropdown>
                            <button dropdownToggle type="button" class="tmss-btn btn-outline-success dropdown-toggle mr-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-excel"></i> {{l("Excel")}}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu>
                                <a class="dropdown-item" (click)="invalidImportModal()" id="InvalidImportHistory" href="javascript:;">
                                    <i class="fa fa-exclamation-triangle" style="font-size: 1rem;"></i> {{l("InvalidImportHistory")}}
                                </a>
                                <a href="javascript:;" class="no-padding">
                                    <span class="fileinput-button">
                                        <p-fileUpload customUpload="true" name="ExcelFileUpload" #ExcelFileUpload maxFileSize="10000000" auto="auto" accept=".csv,.xlsx,.xls"
                                            (uploadHandler)="uploadExcel($event)" (onError)="onUploadExcelError()" chooseLabel="{{l('SalesCustomerImportAssignment')}}">{{l("SalesCustomerImportAssignment")}}
                                        </p-fileUpload>
                                    </span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <span class="dropdown-item-text text-muted pl-3" href="#">
                                    <small [innerHTML]="l('ImportToExcelSampleFileDownloadInfo', '<a href=/assets/sampleFiles/business/ImportAsignmentCustomersSampleFile.xlsx>' + l('ClickHere') + '</a>')"></small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'" [busyIf]="loading">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div [hidden]="!advancedFiltersAreShown">
                    <div class="row align-items-center">
                        <div class="col-3">
                            <div class="form-group">
                                <tmss-combobox [isDisabled]="isTMV" [isRequired]="false" [items]="dealers" [text]="l('Dealer')" name="dealerId" [(ngModel)]="dealerId"></tmss-combobox>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="customerName" [text]="l('SalesCustomerName')" name="customerName"></tmss-text-input>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="hotnesses" [text]="l('SalesCustomerHotness')" name="transferCustomerHotness" [(ngModel)]="hotnessId"></tmss-combobox>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="contactStaus" [text]="l('SalesCustomerContactResult')" name="contactStatus" [(ngModel)]="isContacted"></tmss-combobox>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-3">
                            <div class="form-group">
                                <tmss-combobox [isDisabled]="!isTMV" [isRequired]="false" [items]="assignPersons" [text]="l('SalesCustomerAssignPerson')" name="assignPersons" [(ngModel)]="assignPersonId"></tmss-combobox>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <tmss-combobox [isDisabled]="!isTMV" [isRequired]="false" [items]="salesPersons" [text]="l('SalesCustomerSalesPerson')" name="salesPersons" [(ngModel)]="salePersonId"></tmss-combobox>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="customerTel1" [text]="l('MstGenDealersPhone')" name="customerTel1"></tmss-text-input>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="campaign" [text]="l('SalesCustomerCampaign')" name="campaign"></tmss-text-input>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="form-group">
                                <tmss-checkbox name="isCreationDate" [text]="l('SalesCustomerImportDate')" [rightCheckbox]="true" [(ngModel)]="isCreationDate"></tmss-checkbox>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <tmss-checkbox name="isAssignDate" [text]="l('SalesCustomerAssignDate')" [rightCheckbox]="true" [(ngModel)]="isAssignDate"></tmss-checkbox>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <tmss-checkbox name="isDropDate" [text]="l('SalesCustomerDate')" [rightCheckbox]="true" [(ngModel)]="isDropDate"></tmss-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-2">
                            <div class="form-group">
                                <tmss-datepicker [isDisabled]="!isCreationDate" [showIcon]="false" [isRequired]="false" [(ngModel)]="creationDateFrom" [text]="l('FromDate')" name="creationDateFrom"></tmss-datepicker>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <tmss-datepicker [isDisabled]="!isCreationDate" [showIcon]="false" [isRequired]="false" [(ngModel)]="creationDateTo" [text]="l('ToDate')" name="creationDateTo"></tmss-datepicker>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <tmss-datepicker [isDisabled]="!isAssignDate" [showIcon]="false" [isRequired]="false" [(ngModel)]="assignDateFrom" [text]="l('FromDate')" name="contactDateFrom"></tmss-datepicker>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <tmss-datepicker [isDisabled]="!isAssignDate" [showIcon]="false" [isRequired]="false" [(ngModel)]="assignDateTo" [text]="l('ToDate')" name="contactDateTo"></tmss-datepicker>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <tmss-datepicker [isDisabled]="!isDropDate" [showIcon]="false" [isRequired]="false" [(ngModel)]="dropDateFrom" [text]="l('FromDate')" name="contactDateFrom"></tmss-datepicker>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <tmss-datepicker [isDisabled]="!isDropDate" [showIcon]="false" [isRequired]="false" [(ngModel)]="dropDateTo" [text]="l('ToDate')" name="contactDateTo"></tmss-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-2">
                            <div class="form-group">
                                <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="salesStages" [text]="l('SalesCustomerSalesStage')" name="salesStageId" [(ngModel)]="salesStageId"></tmss-combobox>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="importSources" [text]="l('SalesCustomerImportSource')" name="importSource" [(ngModel)]="importSourceId"></tmss-combobox>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <tmss-combobox [items]="sources" [text]="l('SalesCustomerLeadSource')" name="customerSourceId" [(ngModel)]="sourceId"></tmss-combobox>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <tmss-combobox [items]="agencyLeads" [key]="'value'" [label]="'label'" [text]="l('SalesCustomerAgencyLead')" name="agencyLead" [(ngModel)]="agencyLead"></tmss-combobox>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <tmss-combobox [items]="models" [text]="l('Model')" name="modelId" [(ngModel)]="modelId"></tmss-combobox>
                            </div>
                        </div>
                        <div class="row" style="display: contents">
                            <button type="button" class="tmss-btn btn-outline-primary mr-0" (click)="clearValueFilter()">
                                <i class="tmss-fa fas fa-redo"></i> {{l("Refresh")}}
                            </button>
                            <button type="button" class="tmss-btn btn-outline-primary mr-0" (click)="search()">
                                <i class="tmss-fa fas fa-search"></i> {{l("Search")}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-12">
                        <grid-table 
                            [columnDefs]="columnDefs" 
                            [defaultColDef]="defaultColDef" 
                            (callBackEvent)="callBackGrid($event)" 
                            [paginationParams]="paginationParams" 
                            (changePaginationParams)="changePage($event)" 
                            (onChangeSelection)="onChangeSelection($event)" 
                            [frameworkComponents]='frameworkComponents'
                            (cellValueChanged)="onCellValueChanged($event)"
                            [height]="'440px'" 
                            [rowData]="list" 
                            [sideBar]="sideBar"
                        ></grid-table>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-3">
                        <p>* Tổng số Khách hàng: {{listCount[0]}}</p>
                    </div>
                    <div class="col-3">
                        <p>* Liên hệ thành công: {{listCount[1]}}</p>
                    </div>
                    <div class="col-3">
                        <p>* Liên hệ thất bại: {{listCount[2]}}</p>
                    </div>
                    <div class="col-3">
                        <p>* Chưa liên hệ: {{listCount[3]}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<assign-to-salesperson #assignToSalesPerson (modalSave)="search()"></assign-to-salesperson>
<assignment-customer-contact #assignmentCustomerContact (modalSave)="search()"></assignment-customer-contact>
<create-or-edit-assignment-customer #createOrEditAssignment (modalSave)="search()"></create-or-edit-assignment-customer>