// .tmss-footer-btn {
//     border: none;
//     padding: 6px 10px;
//     cursor: pointer;
//     border-radius: 4px;
//     font-size: 0.9rem;
// }

// i.fa {
//     font-size: 12px;
// }

.is-repairing {
    background: green !important;
}

.is-quotes {
    background: red !important;
}

.is-order {
    background: yellow !important;
}
