<div *ngIf="!showBsModal" class="modal fade" appBsModal #modal="bs-modal" (onHidden)="reset()"
  tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{ backdrop: 'static' }"
  >
  <div class="modal-dialog" [ngClass]="modalClass ? modalClass : ''">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-left">{{ headerText || '' }}</h5>
        <button type="button" class="close" (click)="onCancelBtn()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <tmss-search-input class="remove-border-right-radius" *ngIf="showInput" [showSearch]="true" [text]="'Tìm kiếm'"
          [(ngModel)]="value" (onSearch)="search($event)"></tmss-search-input>
          <grid-table 
            [height]="'315px'" 
            [columnDefs]="columnDefs" 
            [paginationParams]="paginationParams"
            *ngIf="modal.isShown" 
            [rowData]="list" 
            [rowSelection]="rowSelection" 
            [showPagination]="showPagination"
            (changePaginationParams)="changePaginationParams($event)" 
            [defaultColDef]="defaultColDef"
            (callBackEvent)="callBackGrid($event)" 
            (cellDoubleClicked)="confirm($event)"
            (onChangeSelection)="onChangeSelection()">
          </grid-table>
      </div>
      <div class="modal-footer">
        <button type="button" class="tmss-btn tmss-footer-btn btn-outline-primary" [disabled]="!selectedData"
          (click)="confirm()" *ngIf="!hideSaveButton">
          <i class="fa tmss-fa fa-check"></i> {{TextLeft}}
        </button>
        <button type="button" class="tmss-btn tmss-footer-btn btn-outline-primary" (click)="onCancelBtn()"
          *ngIf="!hideCancelButton">
          <i class="fa tmss-fa fa-times"></i> {{TextRight}}
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showBsModal" class="modal fade" bsModal #modal="bs-modal" (onHidden)="reset()"
  tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{ backdrop: 'static' }"
  >
  <div class="modal-dialog" [ngClass]="modalClass ? modalClass : ''">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-left">{{headerText || ''}}</h5>
        <button type="button" class="close" (click)="onCancelBtn()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <tmss-search-input class="remove-border-right-radius" *ngIf="showInput" [showSearch]="true" [text]="'Tìm kiếm'"
          [(ngModel)]="value" (onSearch)="search($event)"></tmss-search-input>

        <div class="panel panel-default pt-1">
          <grid-table 
            [height]="'310px'" 
            [columnDefs]="columnDefs" 
            [paginationParams]="paginationParams"
            *ngIf="modal.isShown" 
            [rowData]="list" 
            [rowSelection]="rowSelection" 
            [showPagination]="showPagination"
            (changePaginationParams)="changePaginationParams($event)" 
            [defaultColDef]="defaultColDef"
            (callBackEvent)="callBackGrid($event)" 
            (cellDoubleClicked)="confirm($event)"
            (onChangeSelection)="onChangeSelection()">
          </grid-table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="tmss-btn tmss-footer-btn btn-outline-primary" [disabled]="!selectedData"
          (click)="confirm()" *ngIf="!hideSaveButton">
          <i class="fa tmss-fa fa-check"></i> {{TextLeft}}
        </button>
        <button type="button" class="tmss-btn tmss-footer-btn btn-outline-primary" (click)="onCancelBtn()"
          *ngIf="!hideCancelButton">
          <i class="fa tmss-fa fa-times"></i> {{TextRight}}
        </button>
      </div>
    </div>
  </div>
</div>
