<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form *ngIf="active" #mstSleGradeProducesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title">
						<span *ngIf="mstSleGradeProduces.id">{{l("EditMstSleGradeProduces")}}</span>
						<span *ngIf="!mstSleGradeProduces.id">{{l("CreateNewMstSleGradeProduces")}}</span>
					</h4>
					<button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                        <div class="kt-portlet kt-portlet--mobile">
                            <div class="kt-portlet__body">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" [isRequired]="true" required
                        					[text]="l('ProductionCode')" name="ProductionCode" [(ngModel)]="mstSleGradeProduces.productionCode" [maxlength]="50">
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("ProductionCode")}}</span>
												<input type="text" class="col-md-7 form-control-combobox ipStRequire" maxlength="50"
													[(ngModel)]="mstSleGradeProduces.productionCode" name="ProductionCode" required />
											</div> -->
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" [isRequired]="true" required
                        					[text]="l('ShortModel')" name="ShortModel" [(ngModel)]="mstSleGradeProduces.shortModel" [maxlength]="50">
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("ShortModel")}} </span>
												<input type="text" class="col-md-7 form-control-combobox ipStRequire" maxlength="50" [(ngModel)]="mstSleGradeProduces.shortModel" name="ShortModel" required />
											</div> -->
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" [isRequired]="true" required
                        					[text]="l('FullModel')" name="FullModel" [(ngModel)]="mstSleGradeProduces.fullModel" [maxlength]="50">
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("FullModel")}} </span>
												<input type="text" class="col-md-7 form-control-combobox ipStRequire" maxlength="50" [(ngModel)]="mstSleGradeProduces.fullModel" name="FullModel" required />
											</div> -->
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" [type]="number"
                        					[text]="l('FrameNoLength')" name="FrameNoLength" [(ngModel)]="mstSleGradeProduces.frameNoLength" [maxlength]="12">
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("FrameNoLength")}}</span>
												<input type="number" class="col-md-7 form-control-combobox" oninput="this.value=this.value.slice(0,this.maxLength||''); this.value=(this.value < 1) ? '' : this.value;" min="1" max="999999999999" maxlength="12"
												[(ngModel)]="mstSleGradeProduces.frameNoLength" name="FrameNoLength" />
											</div> -->
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" 
                        					[text]="l('Wmi')" name="Wmi" [(ngModel)]="mstSleGradeProduces.wmi" [maxlength]="50">
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("Wmi")}}</span>
												<input type="text" maxlength="50" class="col-md-7 form-control-combobox" [(ngModel)]="mstSleGradeProduces.wmi" name="Wmi"/>
											</div> -->
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<tmss-combobox [isDisabled]="false"  [items]="listStatus" [isRequired]="true" required
                        					[text]="l('Status')" name="Status"
                        					[(ngModel)]="mstSleGradeProduces.status"></tmss-combobox>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("Status")}}</span>
												<select class="col-md-7 form-control-combobox ipStRequire" [(ngModel)]="mstSleGradeProduces.status" name="Status" required>
													<option value="Y">{{l("MstSleEnable")}}</option>
													<option value="N">{{l("MstSleDisable")}}</option>
												</select>
											</div> -->
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" 
                        					[text]="l('Vds')" name="Vds" [(ngModel)]="mstSleGradeProduces.vds" [maxlength]="50">
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("Vds")}}</span>
												<input type="text" maxlength="50" id="Vds" class="col-md-7 form-control-combobox" [(ngModel)]="mstSleGradeProduces.vds" name="Vds" />
											</div> -->
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<tmss-combobox [isDisabled]="false"  [items]="listCbuCkd" [isRequired]="true" required
                        					[text]="l('CbuCkd')" name="CbuCkd"
                        					[(ngModel)]="mstSleGradeProduces.cbuCkd"></tmss-combobox>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("CbuCkd")}}</span>
												<select class="col-md-7 form-control-combobox" [(ngModel)]="mstSleGradeProduces.cbuCkd" name="CbuCkd">
													<option value=''></option>
													<option value="Y">{{l("CBU")}}</option>
													<option value="N">{{l("CKD")}}</option>
													<option value="L">{{l("Lexus")}}</option>
												</select>	
											</div> -->
										</div>
									</div>
									
									<div class="col-md-4">
										<div class="form-group">
											<tmss-combobox [isDisabled]="false"  [items]="gasolineTypes" [isRequired]="true" required
                        					[text]="l('Fuel')" name="GasolineTypeId"
                        					[(ngModel)]="mstSleGradeProduces.gasolineTypeId"></tmss-combobox>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("Fuel")}}</span>
												<select class="col-md-7 form-control-combobox" [(ngModel)]="mstSleGradeProduces.gasolineTypeId" name="GasolineTypeId">
													<option value=''></option>
													<option *ngFor="let fuel of gasolineTypes" [value]="fuel.id">{{fuel.name}}</option>
												</select>
											</div> -->
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<tmss-combobox [isDisabled]="false"  [items]="listAudio"
                        					[text]="l('IsHasAudio')" name="Audio"
                        					[(ngModel)]="mstSleGrades.isHasAudio"></tmss-combobox>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("IsHasAudio")}}</span>
												<select name="IsHasAudio" type="text" [(ngModel)]="mstSleGradeProduces.isHasAudio"  class="col-md-7 form-control-combobox">
													<option value=""></option>
													<option value="Y">{{l("Yes")}}</option>
													<option value="N">{{l("No")}}</option>
												</select>
											</div> -->
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<tmss-combobox [isDisabled]="false"  [items]="listIsFirmColor"
                        					[text]="l('IsFirmColor')" name="IsFirmColor"
                        					[(ngModel)]="mstSleGrades.isFirmColor"></tmss-combobox>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("IsFirmColor")}}</span>
												<select name="IsFirmColor" type="text" [(ngModel)]="mstSleGradeProduces.isFirmColor"  class="col-md-7 form-control-combobox">
													<option value=""></option>
													<option value="Y">{{l("Yes")}}</option>
													<option value="N">{{l("No")}}</option>
												</select>
											</div> -->
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" [type]="number" [isRequired]="true" required
                        					[text]="l('Ordering')" name="Ordering" [(ngModel)]="mstSleGradeProduces.ordering" [maxlength]="4">
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("Ordering")}}</span>
												<input type="number" class="col-md-7 form-control-combobox ipStRequire" oninput="this.value=this.value.slice(0,this.maxLength||''); this.value=(this.value < 1) ? '' : this.value;" min="1" max="9999" maxlength="4"
												[(ngModel)]="mstSleGradeProduces.ordering" name="Ordering" required/>
											</div> -->
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" [type]="datetime" bsDatepicker
                        					[text]="l('FromDate')" name="FromDate" [(ngModel)]="fromDate" >
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("FromDate")}}</span>
												<input class="col-md-7 form-control-combobox" type="datetime" bsDatepicker [(ngModel)]="fromDate" name="FromDate">
											</div> -->
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<tmss-text-input [isDisable]="false" [className]="ipStRequire" [type]="datetime" bsDatepicker
                        					[text]="l('ToDate')" name="ToDate" [(ngModel)]="toDate">
                      						</tmss-text-input>
											<!-- <div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("ToDate")}}</span>
												<input class="col-md-7 form-control-combobox" type="datetime" bsDatepicker [(ngModel)]="toDate" name="ToDate">
											</div> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark"
						(click)="close()">{{l("Cancel")}}</button>
					<button type="submit" class="tmss-btn btn-outline-primary" 
						[disabled]="!mstSleGradeProducesForm.form.valid"
						[buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save mr-1"></i>
						<span>{{l("Save")}}</span></button>
				</div>
			</form>
		</div>
	</div>
</div>