<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor overflow-hidden pt-0 pb-0">
    <div class="kt-subheader kt-grid__item redline-header">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>{{ l("SalesPersonMstSalesPersons") }}</span>
                </h3>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <div class="primeng-paging-container">
                        <button type="button" class="tmss-btn btn-outline-primary" (click)="clearValueFilter()"
                            (click)="clearGroupFilter()">
                            <i class="tmss-fa fas fa-redo mr-1"></i>{{l("SalesPersonResetFilter")}}
                        </button>
                        <button (click)="onChangeFilterShown()" *ngIf="!advancedFiltersAreShown"
                            class="tmss-btn btn-outline-primary">
                            <i class="fa fa-search"></i> {{l("SalesPersonShowAdvancedFilters")}}
                        </button>
                        <button (click)="onChangeFilterShown()" *ngIf="advancedFiltersAreShown"
                            class="tmss-btn btn-outline-primary">
                            <i class="fa fa-search"></i> {{l("SalesPersonHideAdvancedFilters")}}
                        </button>
                        <button type="button" class="tmss-btn btn-outline-primary" 
                            (click)="createMstSalesPersons()"><i class="fa fa-plus mr-1"></i>{{l("Add")}}
                        </button>
                        <button type="button" class="tmss-btn btn-outline-primary" (click)="editMstSalesPersons()" 
                            [disabled]="!selectSalesPersonId"><i class="fa fa-edit mr-1"></i>{{l("Edit")}}
                        </button>
                        <button type="button" class="tmss-btn btn-outline-danger" (click)="deleteMstSalesPersons()" 
                            [disabled]="!selectSalesPersonId"><i class="fa fa-trash mr-1"></i>{{l("Delete")}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group pl-3" *ngIf="isTMV">
                        <div class="row input-group">
                            <span class="col-md-4 input-group-addon">{{ l("MstSleAccessoriesPriceDealer") }}</span>
                            <select class="col-md-8 form-control-combobox" [(ngModel)]="dealerIdForTree" name="dealerId" (change)="getOrganizationUnitTree()">
                                <option>{{ l("All") }}</option>
                                <option *ngFor="let dealer of dealers" [value]="dealer.id">{{dealer.abbreviation}}</option>
                            </select>
                        </div>
                    </div>

                    <group-unit-tree-for-view [cascadeSelectEnabled]="false" #groupUnitTreeForView
                        (nodeSelected)="onNodeSelected($event)" (nodeUnSelected)="onNodeUnSelected($event)">
                    </group-unit-tree-for-view>
                </div>
                <div class="col-lg-9">
                    <div class="kt-portlet__body">
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SalesPersonSearchWithThreeDot')" type="text"
                                            (keyup)="eventEnter($event)"/>
                                        <button (click)="search()" class="tmss-btn btn-outline-primary" type="submit">
                                            <i class="fa fa-search mr-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="!advancedFiltersAreShown">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="fullNameFilter" [text]="l('SalesPersonFullName')" (keyup)="eventEnter($event)" name="FullName"></tmss-text-input>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="abbreviationFilter" [text]="l('SalesPersonAbbreviation')" (keyup)="eventEnter($event)" name="Abbreviation"></tmss-text-input>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="positionFilter" [text]="l('SalesPersonPosition')" (keyup)="eventEnter($event)" name="Position"></tmss-text-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="orderingFilter" [text]="l('SalesPersonOrdering')" (keyup)="eventEnter($event)" name="Ordering"></tmss-text-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="row input-group">
                                            <span class="col-md-5 input-group-addon">{{ l("SalesPersonStatus") }}</span>
                                            <select class="col-md-7 form-control-combobox" (change)="search()" [(ngModel)]="statusFilter" name="Status">
                                                <option value="">{{ l("SalesPersonAllStatus") }}</option>
                                                <option value="Y">{{ l("SalesPersonEnable") }}</option>
                                                <option value="N">{{ l("SalesPersonDisable") }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="row input-group">
                                            <span class="col-md-5 input-group-addon">{{ l("SalesPersonGender") }}</span>
                                            <select class="col-md-7 form-control-combobox" (change)="search()" [(ngModel)]="genderFilter" name="Gender">
                                                <option value="">{{ l("SalesPersonAllGender") }}</option>
                                                <option value="Male">{{ l("SalesPersonMale") }}</option>
                                                <option value="Female">{{ l("SalesPersonFeMale") }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="phoneFilter" [text]="l('Phone')" (keyup)="eventEnter($event)" name="Phone"></tmss-text-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="emailFilter" [text]="l('SalesPersonEmail')" (keyup)="eventEnter($event)" name="Email"></tmss-text-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="addressFilter" [text]="l('SalesPersonAddress')" (keyup)="eventEnter($event)" name="Address"></tmss-text-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="descriptionFilter" [text]="l('SalesPersonDescription')" (keyup)="eventEnter($event)" name="Description"></tmss-text-input>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="tbContent">{{l('SalePersonManagement')}}</div>
                                <grid-table [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                    (callBackEvent)="callBackGrid($event)"
                                    [paginationParams]="paginationParams"
                                    (changePaginationParams)="changePage($event)"
                                    (onChangeSelection)="onChangeSelection($event)"
                                    [frameworkComponents]="frameworkComponents"
                                    [rowData]="list"
                                    [height]="'435px'">
                                </grid-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<create-or-edit-sales-person-modal
    #createOrEditSalesPersonModal 
    [selectedId]="selectedPersonUserId"
    (modalSave)="callBackGrid(params)">
</create-or-edit-sales-person-modal>
