<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{"DemoUiComponents" | localize}}</span>
                    </h3>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="col-lg-12 alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                {{"DemoUiComponents_Info" | localize}}<br />
                <a href="https://keenthemes.com/metronic/" class="alert-link"
                    target="_blank">{{"DemoUiComponents_Info_Metronic_Link_Text" | localize}}</a>
            </div>
            <div style="height: 100px;">
                <select name="exportFormat" (change)="onChange($event)">
                    <option>PDF</option>
                    <option>DOCX</option>
                    <option>XLS</option>
                    <option>XLSX</option>
                    <option>RTF</option>
                    <option>MHT</option>
                    <option>HTML</option>
                    <option>TXT</option>
                    <option>CSV</option>
                    <option>PNG</option>
                </select>
                <button style="margin:5px" (click)="downloadFile()">Export a report</button>
            </div>
            <demo-ui-date-time #demoUiDateTime></demo-ui-date-time>

            <demo-ui-selection #demoUiSelection></demo-ui-selection>

            <demo-ui-input-mask #demoUiInputMask></demo-ui-input-mask>

            <demo-ui-editor #demoUiEditor></demo-ui-editor>
        </div>
    </div>
</div>