<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog tmss-modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #SalesPersonForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="updateSalesPerson.id">{{ l("EditSalesPerson") }}</span>
                        <span *ngIf="!updateSalesPerson.id">{{ l("CreateNewSalesPerson") }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row row-1">
                        <div class="col-lg-8">
                            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                                <div class="kt-portlet kt-portlet--mobile">
                                    <div class="kt-portlet__body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group userId">
                                                        <span class="col-md-5 input-group-addon">{{l("SalesPersonUserId")}}</span>
                                                        <select name="UserId" type="text" class="col-md-7 form-control-combobox ipStRequire" (change)="getUserId()" required
                                                            [(ngModel)]="updateSalesPerson.userId" [disabled]="disableSelection">
                                                            <option *ngFor="let user of users" [value]="user.id">{{user.infor}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-5 input-group-addon">{{ l("SalesPersonFullName") }}</span>
                                                        <input type="text" class="col-md-7 form-control-combobox ipStRequire" style="cursor: no-drop;" [(ngModel)]="updateSalesPerson.fullName" name="FullName"
                                                            required disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-5 input-group-addon">{{ l("SalesPersonBirthday") }}</span>
                                                        <input type="text" class="col-sm-7 form-control-combobox ipStRequire" placeholder="mm/dd/yyyy" [(ngModel)]="birthday" name="Birthday" required/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-5 input-group-addon">{{ l("SalesPersonDescription") }}</span>
                                                        <input type="text" class="col-md-7 form-control-combobox" [(ngModel)]="updateSalesPerson.description" name="Description"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-5 input-group-addon">{{ l("SalesPersonPosition") }}</span>
                                                        <input type="text" class="col-md-7 form-control-combobox" [(ngModel)]="updateSalesPerson.position" name="Position"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-5 input-group-addon">{{ l("SalesPersonAbbreviation") }}</span>
                                                        <input type="text" class="col-md-7 form-control-combobox" [(ngModel)]="updateSalesPerson.abbreviation" name="Abbreviation" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-5 input-group-addon">{{ l("SalesPersonStatus") }}</span>
                                                        <select class="col-md-7 form-control-combobox ipStRequire" required [(ngModel)]="updateSalesPerson.status" name="Status">
                                                            <option value="Y">{{ l("SalesPersonEnable") }}</option>
                                                            <option value="N">{{ l("SalesPersonDisable") }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-5 input-group-addon">{{ l("SalesPersonGender") }}</span>
                                                        <select class="col-md-7 form-control-combobox" [(ngModel)]="updateSalesPerson.gender" name="Gender">
                                                            <option value="Male">{{ l("SalesPersonMale") }}</option>
                                                            <option value="Female">{{ l("SalesPersonFeMale") }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-5 input-group-addon">{{ l("SalesPersonPhone") }}</span>
                                                        <input type="text" style="cursor: no-drop;" class="col-md-7 form-control-combobox"
                                                            [(ngModel)]="updateSalesPerson.phone" name="Phone" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-5 input-group-addon">{{ l("SalesPersonEmail") }}</span>
                                                        <input type="text" class="col-md-7 form-control-combobox" style="cursor: no-drop;"
                                                            [(ngModel)]="updateSalesPerson.email" name="Email" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-5 input-group-addon">{{ l("SalesPersonOrdering") }}</span>
                                                        <input type="number" class="col-md-7 form-control-combobox ipStRequire" [(ngModel)]="updateSalesPerson.ordering" name="Ordering" required 
                                                        oninput="this.value=this.value.slice(0,this.maxLength||''); this.value=(this.value < 1) ? '' : this.value;" min="1" max="9999" maxlength="4"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-5 input-group-addon">{{ l("SalesPersonAddress") }}</span>
                                                        <input type="text" class="col-md-7 form-control-combobox" [(ngModel)]="updateSalesPerson.address" name="Address" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-8 input-group-addon">{{ l("SalesPersonAllIsViewCustomer") }}</span>
                                                        <input type="checkbox" class="col-md-4 form-control-combobox" style="height: 25px; margin-left: -22px;" [(ngModel)]="updateSalesPerson.isViewCustomer" name="IsViewCustomer" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-8 input-group-addon">{{ l("SalesPersonAllIsProposalApprove") }}</span>
                                                        <input type="checkbox" class="col-md-4 form-control-combobox" style="height: 25px; margin-left: -22px;" [(ngModel)]="updateSalesPerson.isProposalApprove" name="IsProposalApprove" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-8 input-group-addon">{{ l("SalesPersonAllIsContractApprove") }}</span>
                                                        <input type="checkbox" class="col-md-4 form-control-combobox" style="height: 25px; margin-left: -22px;" [(ngModel)]="updateSalesPerson.isContractApprove" name="isContractApprove" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-8 input-group-addon">{{ l("SalesPersonAllIsApproveLostFreeze") }}</span>
                                                        <input type="checkbox" class="col-md-4 form-control-combobox" style="height: 25px; margin-left: -22px;" [(ngModel)]="updateSalesPerson.isApproveLostFreeze" name="isApproveLostFreeze" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-8 input-group-addon">{{ l("SalesPersonAllIsApproveTestDrive") }}</span>
                                                        <input type="checkbox" class="col-md-4 form-control-combobox" style="height: 25px; margin-left: -22px;" [(ngModel)]="updateSalesPerson.isApproveTestDrive" name="isApproveTestDrive" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                              <div class="form-group">
                                                  <div class="row input-group">
                                                      <span class="col-md-8 input-group-addon">{{ l("SalesPersonAllIsViewStock") }}</span>
                                                      <input type="checkbox" class="col-md-4 form-control-combobox" style="height: 25px; margin-left: -22px;" [(ngModel)]="updateSalesPerson.isViewStock" name="isViewStock" />
                                                  </div>
                                              </div>
                                          </div>
                                        </div> -->
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-8 input-group-addon">{{ l("SalesPersonAllIsSeekforSupervisor") }}</span>
                                                        <input type="checkbox" class="col-md-4 form-control-combobox" style="height: 25px; margin-left: -22px;" [(ngModel)]="updateSalesPerson.isViewPhoneNumber" name="IsViewPhoneNumber" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-8 input-group-addon">{{ l("SalesPersonAllIsReceiveAssignmentList") }}</span>
                                                        <input type="checkbox" class="col-md-4 form-control-combobox" style="height: 25px; margin-left: -22px;" [(ngModel)]="updateSalesPerson.isReceiveAssignmentList" name="isReceiveAssignmentList"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-8 input-group-addon">{{ l("SalesPersonIsViewDuplicateCustomer") }}</span>
                                                        <input type="checkbox" class="col-md-4 form-control-combobox" style="height: 25px; margin-left: -22px;" [(ngModel)]="updateSalesPerson.isViewDuplicateCustomer" name="isViewDuplicateCustomer"/>
                                                    </div>
                                                </div>
                                            </div> 
                                            <!-- <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-8 input-group-addon">{{ l("SalesPersonIsViewDardboard") }}</span>
                                                        <input type="checkbox" class="col-md-4 form-control-combobox" style="height: 25px; margin-left: -22px;" [(ngModel)]="updateSalesPerson.isViewDardboard" name="isViewDardboard"/>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                        <!-- <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-8 input-group-addon">{{ l("SalesPersonIsReceiveTestDriveList") }}</span>
                                                        <input type="checkbox" class="col-md-4 form-control-combobox" style="height: 25px; margin-left: -22px;" [(ngModel)]="updateSalesPerson.isReceiveTestDriveList" name="isReceiveTestDriveList"/>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-8 input-group-addon">{{ l("IsCreateTransferCustomer") }}</span>
                                                        <input type="checkbox" class="col-md-4 form-control-combobox" style="height: 25px; margin-left: -22px;" [(ngModel)]="updateSalesPerson.isCreateTransferCustomer" name="IsCreateTransferCustomer"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- <div class="row" *ngIf="isTMV">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-8 input-group-addon">{{ l("SalesPersonIsReviewFleet") }}</span>
                                                        <input type="checkbox" class="col-md-4 form-control-combobox" style="height: 25px; margin-left: -22px;" [(ngModel)]="updateSalesPerson.isReviewFleet" name="isReviewFleet"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                        <span class="col-md-8 input-group-addon">{{ l("SalesPersonIsApproveFleet") }}</span>
                                                        <input type="checkbox" class="col-md-4 form-control-combobox" style="height: 25px; margin-left: -22px;" [(ngModel)]="updateSalesPerson.isApproveFleet" name="isApproveFleet"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 p-0">
                            <group-sales-person [cascadeSelectEnabled]="false" #groupSalesPerson
                                (onNodeSelected)="onNodeSelected($event)" (unNodeSelected)="unNodeSelected($event)">
                            </group-sales-person>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" *ngIf="updateSalesPerson.id" type="button" class="tmss-btn btn-outline-primary"
                        (click)="refeshtUserId()">{{l("SalesPersonRefreshUser")}}</button>
                    <button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark" (click)="close()">{{l("SalesPersonCancel")}}</button>
                    <button type="submit" class="tmss-btn btn-outline-primary" [disabled]="!SalesPersonForm.form.valid" [buttonBusy]="saving"
                        [busyText]="l('SalesPersonSavingWithThreeDot')">
                        <i class="fa fa-save mr-1"></i>
                        <span>{{l("SalesPersonSave")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
