<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog tmss-modal-lg" [busyIf]="loading">
        <div class="modal-content">
            <div class="modal-header redline-header">
                <h4 class="modal-title" *ngIf="!customerId"><span>Thêm mới Khách hàng tiềm năng</span></h4>
                <h4 class="modal-title" *ngIf="customerId"><span>Cập nhật Khách hàng tiềm năng</span></h4>
                <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form *ngIf="active" #packageForm="ngForm" novalidate autocomplete="off">
                <!-- Thông tin Khách hàng -->
                <div class="modal-body" style="padding-top: 5px;">
                    <fieldset class="fieldset-border" style="width: 100%; border: 1px solid;">
                        <legend class="legend-border pointer">Thông tin Khách hàng <i class="fas fa-chevron-down" style="color:red"></i></legend>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-combobox [isRequired]="true" [items]="customerTypes" [text]="l('SalesCustomerType')" name="CustomerType" [(ngModel)]="customerDetail.customerTypeId"></tmss-combobox>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-text-input [isDisabled]="true" [(ngModel)]="customerDetail.no" [text]="l('SalesCustomerCode')" name="CustomerNo"></tmss-text-input>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-datepicker [isDisabled]="true" [(ngModel)]="customerDetail.creationTime" [text]="l('SalesCustomerCreationTime')" name="CreationTime"></tmss-datepicker>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-datepicker [isRequired]="true" [(ngModel)]="customerDetail.contactDate" name="FirstContactDate" [text]="l('SalesCustomerFirstContactDate')"></tmss-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6" *ngIf="!(customerDetail.customerTypeId == 1 || !customerDetail.customerTypeId)">
                                <div class="form-group">
                                    <tmss-text-input [text]="l('CompanyName')" name="CompanyName" [isRequired]="customerDetail.customerTypeId == 2" [(ngModel)]="customerDetail.companyName"></tmss-text-input>
                                </div>
                            </div>
                            <div class="col-sm-3" *ngIf="!(customerDetail.customerTypeId == 1 || !customerDetail.customerTypeId)">
                                <div class="form-group">
                                    <tmss-combobox [items]="businessTypes" [text]="l('SalesDealerFleetBussinessType')" name="BusinessTypeId" [isRequired]="customerDetail.customerTypeId == 2" [(ngModel)]="customerDetail.businessTypeId"></tmss-combobox>
                                </div>
                            </div>
                            <div class="col-sm-3" *ngIf="customerDetail.customerTypeId == 1">
                                <div class="form-group">
                                    <tmss-text-input [(ngModel)]="customerDetail.customerLastName" [text]="l('SalesCustomerLastName')" name="LastName"></tmss-text-input>
                                </div>
                            </div>
                            <div class="col-sm-3" *ngIf="customerDetail.customerTypeId == 1">
                                <div class="form-group">
                                    <tmss-text-input [(ngModel)]="customerDetail.customerMidName" [text]="l('SalesCustomerMidName')" name="MiddleName"></tmss-text-input>
                                </div>
                            </div>
                            <div class="col-sm-3" *ngIf="customerDetail.customerTypeId == 1">
                                <div class="form-group">
                                    <tmss-text-input [isRequired]="true" [(ngModel)]="customerDetail.customerFirstName" [text]="l('SalesCustomerFirstName')" name="FirstName"></tmss-text-input>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-combobox [items]="genders" [text]="l('ShowSalesCustomerGender')" name="Gender" [(ngModel)]="customerDetail.genderId"></tmss-combobox>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-text-input [isRequired]="true" [(ngModel)]="customerDetail.customerTel1" [maxLength]="10" [text]="l('SalesCustomerTelephone1')" name="CustomerTel1" (keyup)="checkCustomerTel($event)"></tmss-text-input>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-text-input [(ngModel)]="customerDetail.customerTel2" [text]="l('SalesCustomerTelephone2')" name="CustomerTel2"></tmss-text-input>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-combobox [items]="sources" [text]="l('SalesCustomerLeadSource')" name="sourceId" [isDisabled]="customerDetail.importSource==1" [isRequired]="true" [(ngModel)]="customerDetail.sourceId"></tmss-combobox>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-combobox [isRequired]="true" [items]="salesStages" [text]="l('SalesCustomerStatus')" name="Status" [(ngModel)]="customerDetail.status"></tmss-combobox>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-combobox [isRequired]="true" [items]="provinces" [text]="l('SalesCustomerProvince')" name="Province" [(ngModel)]="customerDetail.provinceId" (change)="getDistrictByProvince()"></tmss-combobox>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-combobox [isRequired]="true" [items]="districts" [text]="l('SalesCustomerDistrict')" name="District" [(ngModel)]="customerDetail.districtId"></tmss-combobox>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <tmss-text-input [(ngModel)]="customerDetail.details" [text]="l('SalesCustomerAddress')" name="PermanentAddress"></tmss-text-input>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <!-- Thông tin bổ sung -->
                    <legend class="legend-border pointer" (click)="isShowAdditionalInfo = !isShowAdditionalInfo" *ngIf="isShowAdditionalInfo">Thông tin KH khác <i class="fas fa-chevron-up" style="color:red"></i></legend>
                    <fieldset class="fieldset-border" style="width: 100%; border: 1px solid;" *ngIf="!isShowAdditionalInfo">
                        <legend class="legend-border pointer" (click)="isShowAdditionalInfo = !isShowAdditionalInfo" *ngIf="!isShowAdditionalInfo">Thông tin KH khác <i class="fas fa-chevron-down" style="color:red"></i></legend>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-text-input [(ngModel)]="customerDetail.email" [text]="l('SalesCustomerEmail')" name="Email"></tmss-text-input>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-datepicker [(ngModel)]="customerDetail.birthday" [text]="l('SalesCustomerBirthday')" name="Birthday"></tmss-datepicker>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-combobox [items]="maritalStatuses" [text]="l('SalesCustomerMaritalStatus')" name="MaritalStatus" [(ngModel)]="customerDetail.maritalStatusId"></tmss-combobox>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-combobox [items]="occupations" [text]="l('SalesCustomerOccupation')" name="Occupation" [(ngModel)]="customerDetail.occupationId"></tmss-combobox>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-combobox [items]="roles" [text]="l('SalesCustomerRole')" name="Role" [(ngModel)]="customerDetail.roleId"></tmss-combobox>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-text-input [(ngModel)]="customerDetail.income" [text]="l('SalesCustomerIncome')" name="Income"></tmss-text-input>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-combobox [items]="sourceOfInfos" [text]="l('MstSleSourceOfInfoInfor')" name="SourceOfInfo" [(ngModel)]="customerDetail.sourceOfInfoId"></tmss-combobox>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-combobox [items]="hobbies" [text]="l('MstSleHobbyBanner')" name="Hobby" [(ngModel)]="customerDetail.hobbyId"></tmss-combobox>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-combobox [isRequired]="true" [items]="hotnesses" [text]="l('SalesCustomerHotness')" name="Hotness" [(ngModel)]="customerDetail.hotnessId" (change)="getExpectedDelTimingByHotness($event.target.value)"></tmss-combobox>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-combobox [isRequired]="true" [items]="expectedDelTimingsForCreate" [text]="l('SalesCustomerExpectedDelTiming')" name="ExpectedDelTiming" [(ngModel)]="customerDetail.expectedDelTimingId"></tmss-combobox>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <tmss-text-input [(ngModel)]="customerDetail.foodDrink" [text]="l('SalesCustomerFoodDrink')" name="FoodDrink"></tmss-text-input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-combobox [items]="socialMediaChannels" [text]="l('SaleContractSocialChannel')" name="socialChannelId" [(ngModel)]="customerDetail.socialChannelId"></tmss-combobox>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-text-input [text]="'ID MXH'" name="socialId" [(ngModel)]="customerDetail.socialId"></tmss-text-input>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-text-input [text]="l('SaleContractAnniversaryName')" name="AnniversaryName" [(ngModel)]="customerDetail.anniversaryContent"></tmss-text-input>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <tmss-datepicker [text]="l('SaleContractAnniversaryDate')" name="AnniversaryDate" [(ngModel)]="customerDetail.anniversaryDate"></tmss-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <tmss-textarea [(ngModel)]="customerDetail.remark" [text]="l('ShowSalesCustomerRemark')" name="Remark"></tmss-textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <legend class="legend-border pointer" (click)="isShowCarAttention = !isShowCarAttention" *ngIf="isShowCarAttention">Xe quan tâm <i class="fas fa-chevron-up" style="color:red"></i></legend>
                    <fieldset class="fieldset-border" style="width: 100%; border: 1px solid;" *ngIf="!isShowCarAttention">
                        <legend class="legend-border pointer" (click)="isShowCarAttention = !isShowCarAttention" *ngIf="!isShowCarAttention">Xe quan tâm <i class="fas fa-chevron-down" style="color:red"></i></legend>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="tbContent">{{l("SalesContractVehicleInfoTab")}}</div>
                                <grid-table
                                    [columnDefs]="vehicleColumnDefs" 
                                    [defaultColDef]="defaultColDef" 
                                    (cellValueChanged)="onCellValueChanged($event)" 
                                    [frameworkComponents]="frameworkComponents" 
                                    [rowData]="rowData" 
                                    [showPagination]="false" 
                                    (callBackEvent)="callBackGrid($event)"
                                    (onChangeSelection)="onRowSelected($event)" 
                                    [height]="'120px'"
                                ></grid-table>
                            </div>
                        </div>
                        <div style="justify-content: space-between; display: flex; margin-top: 5px;">
                            <div></div>
                            <div>
                                <button type="button" class="tmss-btn btn-outline-primary" (click)="createVehicle()"><i class="fas fa-plus-square"></i> Thêm xe</button>
                                <button type="button" class="tmss-btn btn-outline-dark mr-0" (click)="cancelVehicle()"><i class="fas fa-redo-alt"></i> Hủy thay đổi xe</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
            <div class="modal-footer">
                <button type="submit" class="tmss-btn btn-outline-primary" (click)="saveCustomerDetail()"><i class="fa fa-save mr-1"></i>
                    <span>{{l("Save")}}</span>
                </button>
                <button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark" (click)="close()">{{l("Cancel")}}</button>
            </div>
        </div>
    </div>
</div>