
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item redline-header">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            <span>{{l("MasterCommon")}}</span>
          </h3>
          <span class="kt-subheader__separator kt-subheader__separator--v"></span>
          <span class="kt-subheader__desc">
            {{l("MstSleLookup")}}
          </span>
        </div>
        <div class="kt-subheader__toolbar">
          <div class="kt-subheader__wrapper">
            <button type="button" class="tmss-btn btn-outline-primary" (click)="clearValueFilter()">
              <i class="tmss-fa fas fa-redo mr-1"></i>{{l("ResetFilter")}}
            </button>
            <button (click)="onChangeFilterShown()" *ngIf="!advancedFiltersAreShown"
              class="tmss-btn btn-outline-primary"><i class="fa fa-search"></i>
              {{l("ShowAdvancedFilters")}}</button>
            <button (click)="onChangeFilterShown()" *ngIf="advancedFiltersAreShown"
              class="tmss-btn btn-outline-primary"><i class="fa fa-search"></i>
              {{l("HideAdvancedFilters")}}</button>
            <!-- <button (click)="exportToExcel()" class="tmss-btn btn-outline-success"><i class="fa fa-file-excel"></i>
              {{l("ExportToExcel")}}</button> -->
            <button type="button" class="tmss-btn btn-outline-primary" (click)="createMstSleLookups()"
              *ngIf="'Pages.Master.Sales.MstSleLookup.Create' | permission">
              <i class="fa fa-plus"></i> {{l("Add")}}
            </button>
            <button type="button" class="tmss-btn btn-outline-primary" (click)="editMstSleLookups()"
              [disabled]="!selectLookup" *ngIf="'Pages.Master.Sales.MstSleLookup.Edit' | permission">
              <i class="fa fa-edit"></i> {{l("Edit")}}
            </button>
            <button type="button" class="tmss-btn btn-outline-danger" (click)="deleteMstSleLookups()"
              [disabled]="!selectLookup" *ngIf="'Pages.Master.Sales.MstSleLookup.Delete' | permission">
              <i class="fa fa-trash"></i> {{l("Delete")}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
      <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
          <div class="row align-items-center">
            <div class="col-xl-12">
              <div class="form-group m-form__group align-items-center">
                <div class="input-group">
                  <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input"
                    [placeholder]="l('SearchWithThreeDot')" type="text" (keyup)="eventEnter($event)" />
                  <button (click)="search()" class="tmss-btn btn-outline-primary" type="submit">
                    <i class="fa fa-search mr-1"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div [hidden]="!advancedFiltersAreShown">
            <div class="row ml-1 align-items-center">
              <div class="col-md-3">
                <div class="form-group">
                  <div class="row input-group">
                    <span class="col-md-5 input-group-addon">{{l("Code")}}</span>
                    <input class="col-md-7 form-control-combobox" [(ngModel)]="codeFilter" type="text"
                      (keyup)="eventEnter($event)" name="codeFilter">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <div class="row input-group">
                    <span class="col-md-5 input-group-addon">{{l("Name")}}</span>
                    <input type="text" class="col-md-7 form-control-combobox" (keyup)="eventEnter($event)"
                      name="NameFilter" [(ngModel)]="nameFilter">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <div class="row input-group">
                    <span class="col-md-5 input-group-addon">{{l("Description")}}</span>
                    <input class="col-md-7 form-control-combobox" [(ngModel)]="descriptionFilter" type="text"
                      (keyup)="eventEnter($event)" name="DescriptionFilter">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <div class="row input-group">
                    <span class="col-md-5 input-group-addon">{{l("Status")}}</span>
                    <select type="text" class="col-md-7 form-control-combobox" (change)="search()" name="statusFilter"
                      [(ngModel)]="statusFilter">
                      <option value=""></option>
                      <option value="Y">{{l("MstSleEnable")}}</option>
                      <option value="N">{{l("MstSleDisable")}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="item col-12">
                <div class="tbContent">
                  {{l('LookupManagementList')}}
                </div>
                <grid-table [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                  (callBackEvent)="callBackLookupGrid($event)" [paginationParams]="paginationParams"
                  (changePaginationParams)="changePage($event)" (onChangeSelection)="onChangeSelection($event)"
                  [rowData]="rowData" [frameworkComponents]='frameworkComponents' [height]="'575px'"></grid-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <create-or-edit-mst-sle-lookup #createOrEditMstSleLookupModal (modalSave)="callBackLookupGrid(params)">
  </create-or-edit-mst-sle-lookup>
