<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog tmss-modal-md" [busyIf]="loading">
        <div class="modal-content">
            <div class="modal-header redline-header">
                <h4 class="modal-title">
                    <span>{{l("Tạo mới Khách hàng chuyển giao")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form *ngIf="active" #packageForm="ngForm" novalidate autocomplete="off">
                <div class="modal-body" style="padding-top: 5px;">
                    <!-- Thông tin Khách hàng -->
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <tmss-combobox [items]="salesPersons" [text]="l('SalesCustomerSalesPerson')" name="SalesPersonId" [isRequired]="true" [(ngModel)]="assignmentCustomer.assignPersonId"></tmss-combobox>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <tmss-combobox [items]="customerTypes" [text]="l('SaleCustomerType')" name="customerTypeId" [isRequired]="true" [(ngModel)]="assignmentCustomer.customerTypeId"></tmss-combobox>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="assignmentCustomer.customerTypeId == 2">
                        <div class="col-12">
                            <div class="form-group">
                                <tmss-text-input [text]="l('CompanyName')" name="CompanyName" [isRequired]="true" [(ngModel)]="assignmentCustomer.companyName"></tmss-text-input>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <tmss-text-input [text]="l('SaleContractLastName')" name="customerLastName" [(ngModel)]="assignmentCustomer.customerLastName"></tmss-text-input>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <tmss-text-input [text]="l('SaleContractMidName')" name="customerMidName" [(ngModel)]="assignmentCustomer.customerMidName"></tmss-text-input>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <tmss-text-input [text]="l('SaleContractFirstName')" name="customerFirstName"  [isRequired]="true" [(ngModel)]="assignmentCustomer.customerFirstName"></tmss-text-input>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <tmss-text-input [text]="l('Phone')" name="customerPhone" [isRequired]="true" [(ngModel)]="assignmentCustomer.phoneNumber" [maxLength]="10"></tmss-text-input>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <tmss-text-input [text]="l('Email')" name="Email" [(ngModel)]="assignmentCustomer.email"></tmss-text-input>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <tmss-combobox [items]="sources" [isRequired]="true" [text]="l('SalesCustomerLeadSource')" name="sourceId" [(ngModel)]="assignmentCustomer.sourceId"></tmss-combobox>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <tmss-datepicker [isRequired]="true" [showIcon]="false" [(ngModel)]="assignmentCustomer.date" [text]="l('SalesCustomerDateTime')" name="date"></tmss-datepicker>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <tmss-combobox [items]="models" [isRequired]="true"  [text]="l('Model')" name="modelId" [(ngModel)]="assignmentCustomer.modelId"></tmss-combobox>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <tmss-combobox  [isRequired]="true" [items]="expectedDelTimings" [text]="l('SalesCustomerExpectedDelTiming')" name="ExpectedDelTimingId" [(ngModel)]="assignmentCustomer.expectedDelTimingId"></tmss-combobox>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="tmss-btn btn-outline-success" (click)="refresh()"><i class="fas fa-redo-alt"></i> {{l("Refresh")}}</button>
                    <button type="submit" class="tmss-btn btn-outline-primary" (click)="save()" [buttonBusy]="saving"><i class="fa fa-save mr-1"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                    <button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark" (click)="close()"><i class="fas fa-power-off"></i> {{l("Close")}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
