<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item redline-header">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title"><span>{{ l("MasterSales") }}</span></h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">{{ l("MstSleColorByGradeMstSleColorAssignments") }}</span>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="form-group m-form__group align-items-center">
                                <div class="input-group">
                                    <input [(ngModel)]="filterText" name="filterText" autoFocus
                                        class="form-control m-input"
                                        [placeholder]="l('MstSleColorByGradeSearchWithThreeDot')" type="text"
                                        (keyup)="eventEnter($event)">
                                    <button (click)="search()" class="tmss-btn btn-outline-primary" type="submit"><i
                                            class="fa fa-search mr-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="item col-12">
                                <div class="tbContent">{{l('MstSleColorByGradeSleGradeProduction')}}</div>
                                <grid-table [columnDefs]="productionTables" [rowData]="productionData"
                                    [defaultColDef]="defaultColDef" (callBackEvent)="callBackGrid($event)"
                                    [paginationParams]="paginationProductionParams"
                                    (changePaginationParams)="changeProductionPage($event)"
                                    (onChangeSelection)="onChangeProductionSelection($event)"
                                    [frameworkComponents]="frameworkComponents" [height]="'313px'"></grid-table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6 align-items-center">
                            <div class="item">
                                <div class="tbContent">{{l('MstSleColorByGradeSleColorAssignment')}}</div>
                                <grid-table [columnDefs]="colorTables" [rowData]="colorData"
                                    [defaultColDef]="defaultColDef" [showPagination]="false"
                                    (onChangeSelection)="onChangeColorSelection($event)"
                                    [frameworkComponents]="frameworkComponents" [height]="'180px'"></grid-table>
                                <div class="primeng-paging-container">
                                    <div class="primeng-paging-container" style="float: right; margin-top: 5px;">
                                        <button type="button" class="tmss-btn btn-outline-primary"
                                            (click)="createMstSleColorGradeProduces()" [disabled]="!selectedProduce"
                                            *ngIf="'Pages.Master.Sales.MstSleColorByGrade.Create' | permission">
                                            <i class="fa fa-plus"></i> {{l("MstSleColorByGradeAdd")}}
                                        </button>
                                        <button type="button" class="tmss-btn btn-outline-primary"
                                            (click)="editMstSleColorGradesProduces()" [disabled]="!selectedColorId"
                                            *ngIf="'Pages.Master.Sales.MstSleColorByGrade.Edit' | permission">
                                            <i class="fa fa-edit"></i> {{l("MstSleColorByGradeEdit")}}
                                        </button>
                                        <button type="button" class="tmss-btn btn-outline-danger"
                                            (click)="deleteMstSleColorGradeProduces()" [disabled]="!selectedColorId"
                                            *ngIf="'Pages.Master.Sales.MstSleColorByGrade.Delete' | permission">
                                            <i class="fa fa-trash"></i> {{l("MstSleColorByGradeDelete")}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 align-items-center">
                            <div class="item">
                                <div class="tbContent">
                                    {{l('MstSleColorByGradeSleInteriorColorAssignment')}}
                                </div>
                                <grid-table [columnDefs]="interiorTables" [rowData]="interiorData"
                                    [defaultColDef]="defaultColDef" [showPagination]="false"
                                    (onChangeSelection)="onChangeInteriorSelection($event)" [height]="'180px'"
                                    [frameworkComponents]="frameworkComponents"></grid-table>
                                <div class="primeng-paging-container">
                                    <div class="primeng-paging-container" style="float: right; margin-top: 5px;">
                                        <button type="button" class="tmss-btn btn-outline-primary"
                                            (click)="createMstSleInteriorColorGradeProduces()" [disabled]="!selectedProduce"
                                            *ngIf="'Pages.Master.Sales.MstSleColorByGrade.Create' | permission">
                                            <i class="fa fa-plus"></i> {{l("MstSleColorByGradeAdd")}}
                                        </button>
                                        <button type="button" class="tmss-btn btn-outline-primary"
                                            (click)="editMstSleInteriorColorGradesProduces()" [disabled]="!selectedInteriorId"
                                            *ngIf="'Pages.Master.Sales.MstSleColorByGrade.Edit' | permission">
                                            <i class="fa fa-edit"></i> {{l("MstSleColorByGradeEdit")}}
                                        </button>
                                        <button type="button" class="tmss-btn btn-outline-danger"
                                            (click)="deleteMstSleInteriorColorGradeProduces()" [disabled]="!selectedInteriorId"
                                            *ngIf="'Pages.Master.Sales.MstSleColorByGrade.Delete' | permission">
                                            <i class="fa fa-trash"></i> {{l("MstSleColorByGradeDelete")}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <createOrEditMstSleColorGradesModal #createOrEditMstSleColorGradesModal
            [gradeProduceIdPick]="gradeProduceIdSent" (modalSave)="getExternalColor()">
        </createOrEditMstSleColorGradesModal>

        <createOrEditMstSleInteriorColorGradesModal #createOrEditMstSleInteriorColorGradesModal
            [gradeProduceIdPick]="gradeProduceIdSent" (modalSave)="getInteriorColor()">
        </createOrEditMstSleInteriorColorGradesModal>
    </div>
</div>