@import "../../../../../node_modules/@ag-grid-enterprise/all-modules/dist/styles/ag-grid.css";
@import "../../../../../node_modules/@ag-grid-enterprise/all-modules/dist/styles/ag-theme-alpine.css";
.ag-theme-alpine {
  font-family: 'Roboto' !important;
  font-weight: 450;
  color: #000;
}.ag-theme-alpine .ag-header {
  height: 20px;
  min-height: 20px;
}
.ag-theme-alpine .ag-row {
  height: 20px;
  min-height: 20px;
  color: #000;
}
.ag-theme-alpine .ag-header-row {
  height: 24px;
}
.ag-theme-alpine .ag-row-odd {
  background-color: #e7f6ff;
}
.ag-theme-alpine .ag-header-cell, .ag-theme-alpine .ag-header-group-cell {
  background-color: #dee9fc !important;
  font-weight: 600;
  border-bottom: 2px solid #ebedf2;
}
.ag-theme-alpine .ag-ltr .ag-cell.ag-cell-range-selected.ag-cell-range-selected-1.ag-cell-range-single-cell {
  height: 20px;
  border-right-color: rgb(33, 150, 243);
}
.ag-theme-alpine .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
  height: 20px;
}
.ag-row-group {
  line-height: 20px;
}
.ag-theme-alpine .ag-cell {
  height: 20px;
  line-height: unset;
}
.ag-header-group-cell-label, .ag-header-cell-label {
  justify-content: center;
}
.ag-theme-alpine .ag-header-cell {
  text-align: center !important;
}
.ag-theme-alpine .ag-ltr .ag-cell {
  border-right: 1px solid #babfc7;
}
.ag-row-selected {
  background-color: #008eff42 !important;
}
.ag-cell, .ag-header-cell {
  font-size: 0.9rem !important;
}
.label {
  color: #0f0f0f;
}
.value {
  margin-right: 20px;
  border: 1px solid lightgrey;
  width: 50px;
  display: inline-block;
  text-align: right;
  padding-right: 2px;
  background: #eee;
}
.ag-cell-value {
  width: 100%;
}
.ag-header-cell.ag-focus-managed.ag-header-cell-sortable {
  padding-left: 18px;
}
.ag-rich-select-list {
  width: 100%;
  min-width: 200px;
  height: 100px !important;
}
