<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item redline-header">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>{{l("MasterCommon")}}</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">{{l("MstGenProvinces")}}</span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <button type="button" class="tmss-btn btn-outline-primary" (click)="clearValueFilter()">
                        <i class="tmss-fa fas fa-redo mr-1"></i>{{l("ResetFilter")}}
                    </button>
                    <button (click)="onChangeFilterShown()" *ngIf="!advancedFiltersAreShown" class="tmss-btn btn-outline-primary"><i class="fa fa-search"></i>
                        {{l("ShowAdvancedFilters")}}</button>
                    <button (click)="onChangeFilterShown()" *ngIf="advancedFiltersAreShown" class="tmss-btn btn-outline-primary"><i class="fa fa-search"></i>
                        {{l("HideAdvancedFilters")}}</button>
                    <button type="button" class="tmss-btn btn-outline-primary" (click)="createMstGenProvinces()" *ngIf="'Pages.Master.Sales.MstGenProvinces.Create' | permission">
                        <i class="tmss-fa fas fa-plus mr-1"></i>{{l("Add")}}</button>
                    <button type="button" class="tmss-btn btn-outline-primary" (click)="editMstGenProvinces()" [disabled]="!selectProvinceId" *ngIf="'Pages.Master.Sales.MstGenProvinces.Edit' | permission">
                        <i class="tmss-fa fas fa-edit mr-1"></i>{{l("Edit")}}
                    </button>
                    <button type="button" class="tmss-btn btn-outline-danger" (click)="deleteMstGenProvinces()" *ngIf="'Pages.Master.Sales.MstGenProvinces.Delete' | permission"
                            [disabled]="!selectProvinceId"><i class="fa fa-trash mr-1"></i>{{l("Delete")}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text"
                                    (keyup)="eventEnter($event)">
                                <button (click)="search()" class="tmss-btn btn-outline-primary" type="submit">
                                    <i class="fa fa-search mr-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="kt-form" autocomplete="off">
                    <div [hidden]="!advancedFiltersAreShown">
                        <div class="row ml-1">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{l("Code")}}</span>
                                        <input class="col-md-7 form-control-combobox" [(ngModel)]="codeFilter" type="text" (keyup)="eventEnter($event)" name="codeFilter">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{l("Name")}}</span>
                                        <input type="text" class="col-md-7 form-control-combobox" (keyup)="eventEnter($event)" name="NameFilter" [(ngModel)]="nameFilter">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{l("Status")}}</span>
                                        <select type="text" class="col-md-7 form-control-combobox" (change)="search()" name="statusFilter"
                                            [(ngModel)]="statusFilter">
                                            <option value=""></option>
                                            <option value="Y">{{l("MstSleEnable")}}</option>
                                            <option value="N">{{l("MstSleDisable")}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{l("SubRegion")}}</span>
                                        <select class="col-md-7 form-control-combobox" (change)="search()" name="subRegionId" [(ngModel)]="subRegionIdFilter" name="Region">
                                            <option value=""></option>
                                            <option *ngFor="let subRegion of regions" [value]="subRegion.id">{{subRegion.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-1">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-4 input-group-addon">{{l("SquareAmount")}}</span>
                                        <input type="number" class="col-md-4 form-control-combobox" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" min="0"
                                            [(ngModel)]="squareAmountMinFilter" (keyup)="eventEnter($event)" name="squareAmountMinFilter" placeholder="{{l('FromAmount')}}" />
                                        <input type="number" class="col-md-4 form-control-combobox" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" min="0"
                                            [(ngModel)]="squareAmountMaxFilter" (keyup)="eventEnter($event)" name="squareAmountMaxFilter" placeholder="{{l('ToAmount')}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-4 input-group-addon">{{l("PopulationAmount")}}</span>
                                        <input type="number" class="col-md-4 form-control-combobox" [(ngModel)]="populationAmountMinFilter"
                                            (keyup)="eventEnter($event)" name="PopulationAmountMinFilter"
                                            placeholder="{{l('FromAmount')}}" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" min="0"/>
                                        <input type="number" class="col-md-4 form-control-combobox" [(ngModel)]="populationAmountMaxFilter"
                                            (keyup)="eventEnter($event)" name="PopulationAmountMaxFilter"
                                            placeholder="{{l('ToAmount')}}" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" min="0"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <div class="col-xl-12 ">
                        <div class="tbContent">{{l('ProvinceManagementList')}}</div>
                        <grid-table 
                            [columnDefs]="columnDefs" 
                            [defaultColDef]="defaultColDef"
                            (callBackEvent)="callBackProvinceGrid($event)" 
                            [paginationParams]="paginationParams"
                            (changePaginationParams)="changePage($event)"
                            (onChangeSelection)="onChangeSelection($event)"
                            [rowData]="rowData"
                            [height]="'590px'" 
                            [frameworkComponents]='frameworkComponents'
                        ></grid-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<create-or-edit-province-modal 
    #createOrEditMstGenProvincesModal
    (modalSave)="callBackProvinceGrid(params)">
</create-or-edit-province-modal>