<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog tmss-modal-md">
        <div class="modal-content">
            <form *ngIf="active" #mstSleDistrictsForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="mstSleDistricts.id">{{ l("EditMstSleDistricts") }}</span>
                        <span *ngIf="!mstSleDistricts.id">{{ l("CreateNewMstSleDistricts") }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                        <div class="kt-portlet kt-portlet--mobile">
                            <div class="kt-portlet__body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input [className]="'ipStRequire'" [isRequired]="false" [isRequired]="true" [(ngModel)]="mstSleDistricts.code" [text]="l('Code')" name="Code" [maxlength]="50"></tmss-text-input>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input [className]="'ipStRequire'"  [isRequired]="false"  [isRequired]="true" [(ngModel)]="mstSleDistricts.name" [text]="l('Name')" name="name" [maxLength]="255"></tmss-text-input>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input type="number" [className]="'ipStRequire'" [isDisabled]="false" [isRequired]="true"  [(ngModel)]="mstSleDistricts.ordering" [text]="l('Ordering')" name="ordering" ></tmss-text-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input    [(ngModel)]="mstSleDistricts.description" [text]="l('Description')" name="description"></tmss-text-input>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-combobox [className]="'ipStRequire'" [isDisabled]="false" [isRequired]="true" [items]="listStatus" [(ngModel)]="mstSleDistricts.status" [text]="l('Status')" name="status"></tmss-combobox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="tmss-btn btn-outline-danger" (click)="close()"><i class="tmss-fa fas fa-ban mr-1"></i>{{ l("Cancel") }}</button>
                    <button type="submit" class="tmss-btn btn-outline-primary"
                        [disabled]="!mstSleDistrictsForm.form.valid" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                        <i class="tmss-fa fas fa-save mr-1"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>