<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form *ngIf="active" #mstSleLookupForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title">
						<span *ngIf="mstSleLookup.id">{{l("EditMstSleLookup")}}</span>
						<span *ngIf="!mstSleLookup.id">{{l("CreateNewMstSleLookup")}}</span>
					</h4>
					<button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                        <div class="kt-portlet kt-portlet--mobile">
                            <div class="kt-portlet__body">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("Code")}}</span>
												<input type="text" class="col-md-7 form-control-combobox ipStRequire" [(ngModel)]="mstSleLookup.code" name="Code" required maxlength="255"/>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("Name")}}</span>
												<input type="text" class="col-md-7 form-control-combobox ipStRequire" maxlength="255"
													[(ngModel)]="mstSleLookup.name" name="Name" required />
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("Status")}}</span>
												<select type="text" class="col-md-7 form-control-combobox ipStRequire"
													[(ngModel)]="mstSleLookup.status" name="Status" required >
													<option value="Y">{{l("MstSleEnable")}}</option>
													<option value="N">{{l("MstSleDisable")}}</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("Description")}}</span>
												<input type="text" class="col-md-7 form-control-combobox" [(ngModel)]="mstSleLookup.description" name="Description" maxlength="255"/>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("Ordering")}}</span>
												<input type="number" class="col-md-7 form-control-combobox" oninput="this.value=this.value.slice(0,this.maxLength||''); this.value=(this.value < 1) ? '' : this.value;" min="1" max="9999" maxlength="4"
												[(ngModel)]="mstSleLookup.ordering" name="Ordering" />
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<div class="row input-group">
												<span class="col-md-5 input-group-addon">{{l("SaleValue")}}</span>
												<input type="number" class="col-md-7 form-control-combobox ipStRequire" [(ngModel)]="mstSleLookup.value" oninput="this.value=this.value.slice(0,this.maxLength||''); this.value=(this.value < 0) ? '' : this.value;" min="0" max="999999999999" maxlength="12" name="Value" required/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark"
						(click)="close()">{{l("Cancel")}}</button>
					<button type="submit" class="tmss-btn btn-outline-primary" [disabled]="!mstSleLookupForm.form.valid"
						[buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
						<i class="fa fa-save mr-1"></i>
						<span>{{l("Save")}}</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>