<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
  <div class="kt-subheader kt-grid__item redline-header">
    <div [class]="containerClass">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
          <span class="kt-subheader__desc">{{l("MasterSales")}}</span>
        </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <span class="kt-subheader__desc">{{l("MstSleColor")}}</span>
      </div>
      <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
          <button type="button" class="tmss-btn btn-outline-primary" (click)="createMstSleColors()"
            *ngIf="'Pages.Master.Sales.MstSleColor.Create' | permission">
            <i class="fa fa-plus"></i> {{l("MstSleColorAdd")}}
          </button>
          <button type="button" class="tmss-btn btn-outline-primary" (click)="editMstSleColors()"
            [disabled]="!selectColors" *ngIf="'Pages.Master.Sales.MstSleColor.Edit' | permission">
            <i class="fa fa-edit"></i> {{l("MstSleColorEdit")}}
          </button>
          <button type="button" class="tmss-btn btn-outline-danger" (click)="deleteMstSleColors()"
            [disabled]="!selectColors" *ngIf="'Pages.Master.Sales.MstSleColor.Delete' | permission">
            <i class="fa fa-trash"></i> {{l("MstSleColorDelete")}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
    <div class="kt-portlet kt-portlet--mobile">
      <div class="kt-portlet__body">
        <div class="row align-items-center">
          <div class="col-xl-12">
            <div class="form-group m-form__group align-items-center">
              <div class="input-group">
                <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input"
                  [placeholder]="l('MstSleColorSearchWithThreeDot')" type="text" (keyup)="eventEnter($event)">
                <button (click)="search()" class="tmss-btn btn-outline-primary" type="submit"><i
                    class="fa fa-search mr-1"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="item col-12">
              <div class="tbContent"> {{l('MstSleColorList')}}</div>
              <grid-table [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                (callBackEvent)="callBackGrid($event)" [paginationParams]="paginationParams"
                (changePaginationParams)="changePage($event)" (onChangeSelection)="onChangeSelection($event)"
                [rowData]="rowData" [frameworkComponents]="frameworkComponents" [height]="'400px'"></grid-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<createOrEditMstSleColorsModal #createOrEditMstSleColorsModal (modalSave)="callBackGrid(params)">
</createOrEditMstSleColorsModal>