<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog tmss-modal-md">
    <div class="modal-content">
      <form *ngIf="active" #mstSleModelPresentForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="mstSleModelPresent.id">{{l("MstSleModelPresentEdit")}}</span>
            <span *ngIf="!mstSleModelPresent.id">{{l("MstSleModelPresentAdd")}}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
              <div class="kt-portlet__body">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleModelPresentMake")}}</span>
                        <select class="col-md-7 ipStRequire form-control-combobox "
                          [(ngModel)]="mstSleModelPresent.makeId" name="Make" required>
                          <option *ngFor="let make of listMake" [value]="make.makeId">
                            {{make.make}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleModelPresentMarketingCode")}} </span>
                        <input type="text" class="col-md-7 form-control-combobox ipStRequire"
                          [(ngModel)]="mstSleModelPresent.marketingCode" name="MarketingCode" required maxlength="50" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleModelPresentProductionCode")}}</span>
                        <input type="text" class="col-md-7 form-control-combobox"
                          [(ngModel)]="mstSleModelPresent.productionCode" name="ProductionCode" maxlength="255" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleModelPresentDescription")}}</span>
                        <input type="text" class="col-md-7 form-control-combobox"
                          [(ngModel)]="mstSleModelPresent.description" name="Description" maxlength="255" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleModelPresentEnName")}}</span>
                        <input type="text" class="col-md-7 form-control-combobox"
                          [(ngModel)]="mstSleModelPresent.enName" name="EnName" maxlength="255" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleModelPresentVnName")}}</span>
                        <input type="text" class="col-md-7 form-control-combobox"
                          [(ngModel)]="mstSleModelPresent.vnName" name="VnName" maxlength="255" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleModelPresentAbbreviation")}}</span>
                        <input type="text" class="col-md-7 form-control-combobox"
                          [(ngModel)]="mstSleModelPresent.abbreviation" name="Abbreviation" maxlength="10" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleModelPresenttatus")}}</span>
                        <select class="col-md-7 form-control-combobox ipStRequire"
                          [(ngModel)]="mstSleModelPresent.status" name="Status" required>
                          <option value="Y">{{l("MstSleEnable")}}</option>
                          <option value="N">{{l("MstSleDisable")}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleModelPresentOrdering")}}</span>
                        <input type="number" class="col-md-7 form-control-combobox"
                          oninput="this.value=this.value.slice(0,this.maxLength||''); this.value=(this.value < 1) ? '' : this.value;"
                          min="1" max="9999" maxlength="4" [(ngModel)]="mstSleModelPresent.ordering" name="Ordering" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleModelPresentOrderingRpt")}}</span>
                        <input type="number" class="col-md-7 form-control-combobox"
                          oninput="this.value=this.value.slice(0,this.maxLength||''); this.value=(this.value < 1) ? '' : this.value;"
                          min="1" max="9999" maxlength="4" [(ngModel)]="mstSleModelPresent.orderingRpt"
                          name="OrderingRpt" />
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark"
            (click)="close()">{{l("MstSleModelPresentCancel")}}</button>
          <button type="submit" class="tmss-btn btn-outline-primary" [disabled]="!mstSleModelPresentForm.form.valid"
            [buttonBusy]="saving" [busyText]="l('MstSleModelPresentSaveWithThreeDot')"><i class="fa fa-save mr-1"></i>
            <span>{{l("MstSleModelPresentave")}}</span></button>
        </div>
      </form>
    </div>
  </div>
</div>