<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item redline-header" [busyIf]="loading">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title"><span>{{l("CustomerManagement")}}</span></h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">{{l("SalesCustomerPotential")}}</span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <div class="primeng-paging-container">
                        <button type="button" class="tmss-btn btn-outline-primary mr-0" (click)="clearValueFilter()">
                            <i class="tmss-fa fas fa-redo mr-1"></i>{{l("SalesPersonResetFilter")}}
                        </button>
                        <button (click)="onChangeFilterShown()" *ngIf="!advancedFiltersAreShown" class="tmss-btn btn-outline-primary mr-0">
                            <i class="fa fa-search"></i> {{l("SalesPersonShowAdvancedFilters")}}
                        </button>
                        <button (click)="onChangeFilterShown()" *ngIf="advancedFiltersAreShown" class="tmss-btn btn-outline-primary mr-0">
                            <i class="fa fa-search"></i> {{l("SalesPersonHideAdvancedFilters")}}
                        </button>
                        <button (click)="contactResult()" class="tmss-btn btn-outline-primary mr-0">
                            <i class="fa fa-reply-all mr-1"> {{l('Liên hệ')}}</i>
                        </button>
                        <button type="button" class="tmss-btn btn-outline-primary mr-0" (click)="create()">
                            <i class="fas fa-plus-square mr-1"></i>{{ l("Add") }}
                        </button>
                        <button type="button" class="tmss-btn btn-outline-primary mr-0" (click)="edit()">
                            <i class="fas fa-plus-square mr-1"></i>{{ l("Edit") }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <tabset>
        <!-- Khách hàng Cá nhân -->
        <tab heading="{{l('SalesCustomerIndividualCustomer')}}" id="Individual" (selectTab)="selectIndividualTab()">
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body">
                        <div [hidden]="!advancedFiltersAreShown">
                            <div class="row align-items-center">
                                <div class="col-3">
                                    <div class="form-group">
                                        <tmss-combobox [isDisabled]="disableDealer" [items]="listDealer" [text]="l('Dealer')" name="Dealer" [(ngModel)]="dealerId"></tmss-combobox>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="customerName" [text]="l('SalesCustomerName')" name="IndividualCustomerName"></tmss-text-input>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="customerTel1" [text]="l('MstGenDealersPhone')" name="customerTel1"></tmss-text-input>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="hotnesses" [text]="l('SalesCustomerHotness')" name="IndividualCustomerHotness" [(ngModel)]="hotnessId"></tmss-combobox>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="units" [text]="l('SalesCustomerDepartment')" name="unit" [(ngModel)]="unitId"></tmss-combobox>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="salesPersons" [text]="l('SalesCustomerSalesPerson')" name="IndividualCustomerSalesPerson" [(ngModel)]="salePersonId"></tmss-combobox>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="provinces" [text]="l('SalesCustomerProvince')" name="individualProvinceId" [(ngModel)]="provinceId" (change)="getDistrictByProvince($event.target.value)"></tmss-combobox>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="districts" [text]="l('SalesCustomerDistrict')" name="individualDistrictId" [(ngModel)]="districtId"></tmss-combobox>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="customerClass" [text]="l('SalesDealerFleetCustomerType')" name="class" [(ngModel)]="customerClassId"></tmss-combobox>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <tmss-combobox [isDisabled]="customerClassId!=2" [isRequired]="false" [items]="freezeTypes" [text]="l('SalesCustomerFreezeType')" name="freezeType" [(ngModel)]="freezeTypeId"></tmss-combobox>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="models" [text]="l('Model')" name="modelId" [(ngModel)]="modelId" (change)="getGradeByModel($event.target.value)"></tmss-combobox>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="grades" [text]="l('Grade')" name="gradeId" [(ngModel)]="gradeId"></tmss-combobox>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <tmss-checkbox name="isCreationDate" [text]="l('CreationDate')" [rightCheckbox]="true" [(ngModel)]="isCreationDate"></tmss-checkbox>
                                    </div>
                                </div>
                                <!-- <div class="col-4">
                                    <div class="form-group">
                                        <tmss-checkbox name="isContactDate" [text]="l('SalesCustomerContactHistory')" [rightCheckbox]="true" [(ngModel)]="isContactDate"></tmss-checkbox>
                                    </div>
                                </div> -->
                                <div class="col-2">
                                    <div class="form-group">
                                        <tmss-checkbox name="getLatestContact" [text]="l('SalesCustomerGetLatestContact')" [rightCheckbox]="true" [(ngModel)]="getLatestContact"></tmss-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <tmss-datepicker [isDisabled]="!isCreationDate" [isRequired]="false" [showIcon]="false" [(ngModel)]="creationDateFrom" [text]="l('FromDate')" name="creationDateFrom"></tmss-datepicker>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <tmss-datepicker [isDisabled]="!isCreationDate" [isRequired]="false" [showIcon]="false" [(ngModel)]="creationDateTo" [text]="l('ToDate')" name="creationDateTo"></tmss-datepicker>
                                    </div>
                                </div>
                                <!-- <div class="col-2">
                                    <div class="form-group">
                                        <tmss-datepicker [isDisabled]="!isContactDate" [isRequired]="false" [showIcon]="false" [(ngModel)]="contactDateFrom" [text]="l('FromDate')" name="contactDateFrom"></tmss-datepicker>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <tmss-datepicker [isDisabled]="!isContactDate" [isRequired]="false" [showIcon]="false" [(ngModel)]="contactDateTo" [text]="l('ToDate')" name="contactDateTo"></tmss-datepicker>
                                    </div>
                                </div> -->
                                <div class="col-2">
                                    <div class="form-group">
                                        <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="contactBy" [text]="l('MstSleContactByShort')" name="contactById" [(ngModel)]="contactById"></tmss-combobox>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="sources" [text]="l('SalesCustomerSource')" name="individualSourceId" [(ngModel)]="sourceId"></tmss-combobox>
                                    </div>
                                </div>
                                <div class="row" style="display: contents">
                                    <button type="button" class="tmss-btn btn-outline-primary mr-0" (click)="clearValueFilter()">
                                        <i class="tmss-fa fas fa-redo"></i> {{l("Refresh")}}
                                    </button>
                                    <button type="button" class="tmss-btn btn-outline-primary mr-0" (click)="search()">
                                        <i class="tmss-fa fas fa-search"></i> {{l("Search")}}
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-12">
                                <grid-table 
                                    [columnDefs]="columnDefs" 
                                    [defaultColDef]="defaultColDef" 
                                    (callBackEvent)="callBackGrid($event)" 
                                    [paginationParams]="paginationParams" 
                                    (changePaginationParams)="changePage($event)" 
                                    (onChangeSelection)="onChangeSelection($event)" 
                                    [frameworkComponents]='frameworkComponents'
                                    [height]="'435px'" 
                                    [rowData]="list" 
                                    [sideBar]="sideBar" 
                                    (cellValueChanged)="onCellValueChanged($event)"
                                ></grid-table>
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-6">
                                <p>* Tổng số KHTN: {{totalInquiryCustomer}}</p>
                            </div>
                            <div class="col-6">
                                <p>* Tổng số xe quan tâm: {{totalCarPurchaseRequest}}</p>
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-12">
                                <sales-customer-history #customerHistory></sales-customer-history>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>

        <!-- Khách hàng Doanh nghiệp -->
        <tab heading="{{l('SalesCustomerCompanyCustomer')}}" id="Company" (selectTab)="selectCompanyTab()">
            <company-customer #CompanyCustomer></company-customer>
        </tab>

        <!-- Khách hàng Trùng -->
        <tab heading="{{l('SalesCustomerDuplicateCustomer')}}" id="Duplicate" (selectTab)="selectDupilcateTab()" *ngIf="'Pages.SalesCustomer.ViewDuplicateCustomer' | permission">
            <duplicate-customer #DuplicateCustomer></duplicate-customer>
        </tab>
    </tabset>
</div>

<sales-customer-detail-modal #showSalesCustomerDetail (modalSave)="callBackGrid(params)"></sales-customer-detail-modal>
<contact-to-customer #ContactToCustomer (modalSave)="callBackGrid(params)"></contact-to-customer>
