<div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'" [busyIf]="loading">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <div [hidden]="!advancedFiltersAreShown">
                <div class="row align-items-center">
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="disableDealer" [items]="listDealer" [text]="l('Dealer')" name="Dealer" [(ngModel)]="dealerId"></tmss-combobox>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="customerName" [text]="l('SalesCustomerName')" name="IndividualCustomerName"></tmss-text-input>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-text-input [isDisabled]="false" [isRequired]="false" [(ngModel)]="customerTel1" [text]="l('MstGenDealersPhone')" name="customerTel1"></tmss-text-input>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="hotnesses" [text]="l('SalesCustomerHotness')" name="IndividualCustomerHotness" [(ngModel)]="hotnessId"></tmss-combobox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="units" [text]="l('SalesCustomerDepartment')" name="unit" [(ngModel)]="unitId"></tmss-combobox>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="salesPersons" [text]="l('SalesCustomerSalesPerson')" name="IndividualCustomerSalesPerson" [(ngModel)]="salePersonId"></tmss-combobox>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="provinces" [text]="l('SalesCustomerProvince')" name="individualProvinceId" [(ngModel)]="provinceId" (change)="getDistrictByProvince($event.target.value)"></tmss-combobox>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="districts" [text]="l('SalesCustomerDistrict')" name="individualDistrictId" [(ngModel)]="districtId"></tmss-combobox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="customerClass" [text]="l('SalesDealerFleetCustomerType')" name="class" [(ngModel)]="customerClassId"></tmss-combobox>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="customerClassId!=2" [isRequired]="false" [items]="freezeTypes" [text]="l('SalesCustomerFreezeType')" name="freezeType" [(ngModel)]="freezeTypeId"></tmss-combobox>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="models" [text]="l('Model')" name="modelId" [(ngModel)]="modelId" (change)="getGradeByModel($event.target.value)"></tmss-combobox>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="grades" [text]="l('Grade')" name="gradeId" [(ngModel)]="gradeId"></tmss-combobox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <tmss-checkbox name="isCreationDate" [text]="l('CreationDate')" [rightCheckbox]="true" [(ngModel)]="isCreationDate"></tmss-checkbox>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <tmss-checkbox name="isContactDate" [text]="l('SalesCustomerContactHistory')" [rightCheckbox]="true" [(ngModel)]="isContactDate"></tmss-checkbox>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <tmss-checkbox name="getLatestContact" [text]="l('SalesCustomerGetLatestContact')" [rightCheckbox]="true" [(ngModel)]="getLatestContact"></tmss-checkbox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <div class="form-group">
                            <tmss-datepicker [isDisabled]="!isCreationDate" [showIcon]="false" [isRequired]="false" [(ngModel)]="creationDateFrom" [text]="l('FromDate')" name="creationDateFrom"></tmss-datepicker>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <tmss-datepicker [isDisabled]="!isCreationDate" [showIcon]="false" [isRequired]="false" [(ngModel)]="creationDateTo" [text]="l('ToDate')" name="creationDateTo"></tmss-datepicker>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <tmss-datepicker [isDisabled]="!isContactDate" [showIcon]="false" [isRequired]="false" [(ngModel)]="contactDateFrom" [text]="l('FromDate')" name="contactDateFrom"></tmss-datepicker>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <tmss-datepicker [isDisabled]="!isContactDate" [showIcon]="false" [isRequired]="false" [(ngModel)]="contactDateTo" [text]="l('ToDate')" name="contactDateTo"></tmss-datepicker>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="contactBy" [text]="l('MstSleContactByShort')" name="contactById" [(ngModel)]="contactById"></tmss-combobox>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <tmss-combobox [isDisabled]="false" [isRequired]="false" [items]="sources" [text]="l('SalesCustomerSource')" name="individualSourceId" [(ngModel)]="sourceId"></tmss-combobox>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <!--Không Lấy liên hệ mới nhất-->
                <div class="col-12">
                    <grid-table [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" (callBackEvent)="callBackGrid($event)" [paginationParams]="paginationParams" (changePaginationParams)="changePage($event)" (onChangeSelection)="onChangeSelection($event)" [frameworkComponents]='frameworkComponents'
                        [height]="'440px'" [rowData]="list" [sideBar]="sideBar"></grid-table>
                    <!-- (cellValueChanged)="onCellValueChanged($event)" -->
                </div>
            </div>
        </div>
    </div>
</div>
<sales-customer-history #customerHistory></sales-customer-history>