<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item redline-header">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>{{ l("MasterSales") }}</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    {{ l("MstSleModelsListManagement") }}
                </span>
            </div>
            <div class="kt-subheader__toolbar" *ngIf="toyotaSelected">
                <div class="kt-subheader__wrapper">
                    <button type="button" class="tmss-btn btn-outline-primary" (click)="clearValueFilter()">
                        <i class="tmss-fa fas fa-redo mr-1"></i>{{l("ResetFilter")}}
                    </button>
                    <button type="button" *ngIf="!advancedFiltersAreShown" class="tmss-btn btn-outline-primary" (click)="onChangeFilterShown()">
                        <i class="tmss-fa fas fa-search mr-1"></i>{{ l("ShowAdvancedFilters") }}
                    </button>
                    <button type="button" *ngIf="advancedFiltersAreShown" class="tmss-btn btn-outline-primary" (click)="onChangeFilterShown()">
                        <i class="tmss-fa fas fa-search mr-1"></i>{{ l("HideAdvancedFilters") }}
                    </button>

                    <button type="button" *ngIf="!areShownGradeMarketing" class="tmss-btn btn-outline-primary" (click)="areShownGradeMarketing = !areShownGradeMarketing">
                        <i class="tmss-fa fas fa-th mr-1"></i>{{ l("ShowGradeMarketingInfo") }}
                    </button>
                    <button type="button" *ngIf="areShownGradeMarketing" class="tmss-btn btn-outline-primary" (click)="areShownGradeMarketing = !areShownGradeMarketing">
                        <i class="tmss-fa fas fa-th mr-1"></i>{{ l("HideGradeMarketingInfo") }}
                    </button>

                    <button type="button" *ngIf="!areShownGradeProduction" class="tmss-btn btn-outline-primary" (click)="areShownGradeProduction = !areShownGradeProduction">
                        <i class="tmss-fa fas fa-th mr-1"></i>{{ l("ShowGradeProductionInfo") }}
                    </button>
                    <button type="button" *ngIf="areShownGradeProduction" class="tmss-btn btn-outline-primary" (click)="areShownGradeProduction = !areShownGradeProduction">
                        <i class="tmss-fa fas fa-th mr-1"></i>{{ l("HideGradeProductionInfo") }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <tabset>
        <tab heading="{{l('MstSleModelToyotaModel')}}" id="Toyota" (selectTab)="selectToyotaModelTab()">
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body">
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text"
                                            (keyup)="eventEnter($event)" />
                                        <button (click)="search()" class="tmss-btn btn-outline-primary" type="submit">
                                            <i class="fa fa-search mr-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form class="kt-form" autocomplete="off">
                            <div [hidden]="!advancedFiltersAreShown">
                                <div class="row ml-1">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{l("MarketingCode")}}</span>
                                                <input type="text" class="col-md-7 form-control-combobox" (keyup)="eventEnter($event)" name="marketingCodeFilter" [(ngModel)]="marketingCodeFilter" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{l("ProductionCode")}}</span>
                                                <input class="col-md-7 form-control-combobox" [(ngModel)]="productionCodeFilter" type="text" (keyup)="eventEnter($event)" name="productionCodeFilter" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{l("MstGenDealersAbbreviation")}}</span>
                                                <input class="col-md-7 form-control-combobox" [(ngModel)]="abbreviationFilter" type="text" (keyup)="eventEnter($event)" name="Abbreviation" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ml-1">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{l("Description")}}</span>
                                                <input type="text" class="col-md-7 form-control-combobox" id="descriptionFilter" [(ngModel)]="descriptionFilter" (keyup)="eventEnter($event)" name="descriptionFilter" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{l("VnName")}}</span>
                                                <input type="text" class="col-md-7 form-control-combobox" [(ngModel)]="vnNameFilter" (keyup)="eventEnter($event)" name="vnNameFilter" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{l("EnName")}}</span>
                                                <input type="text" class="col-md-7 form-control-combobox"
                                                    [(ngModel)]="enNameFilter" (keyup)="eventEnter($event)" name="enNameFilter" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ml-1">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{l("Status")}}</span>
                                                <select type="text" class="col-md-7 form-control-combobox" (change)="search()" name="statusFilter" [(ngModel)]="statusFilter">
                                                    <option value=""></option>
                                                    <option value="Y">{{l("MstSleEnable")}}</option>
                                                    <option value="N">{{l("MstSleDisable")}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{l("Grade")}}</span>
                                                <input type="text" class="col-md-7 form-control-combobox"
                                                [(ngModel)]="gradeFilter" (keyup)="eventEnterGrade($event)" name="gradeFilter" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="tbContent">{{ l("ModelInformation") }}</div>
                                <grid-table 
                                    [columnDefs]="modelsColumnDefs" 
                                    [defaultColDef]="defaultColDef" 
                                    (callBackEvent)="callBackModelGrid($event)" 
                                    (onChangeSelection)="onChangeModelSelection($event)" 
                                    [paginationParams]="modelPaginationParams" 
                                    [frameworkComponents]="frameworkComponents" 
                                    (changePaginationParams)="changeMPage($event)" 
                                    [rowData]="mData"
                                    [height]="'270px'"
                                ></grid-table>
                            </div>
                        </div>
    
                        <div class="kt-subheader__toolbar">
                            <div class="kt-subheader__wrapper">
                                <!-- Button -->
                                <div class="primeng-paging-container">
                                    <div class="primeng-paging-container" style="float: right; margin-top: 5px">
                                        <button type="button" class="tmss-btn btn-outline-primary"
                                            (click)="createMstSleModels()" *ngIf="'Pages.Master.Sales.MstSleModelGrade.Create' | permission">
                                            <i class="fa fa-plus"></i> {{ l("Add") }}
                                        </button>
                                        <button type="button" class="tmss-btn btn-outline-primary" *ngIf="'Pages.Master.Sales.MstSleModelGrade.Edit' | permission"
                                            (click)="editMstSleModels()" [disabled]="!selectModelId">
                                            <i class="fa fa-edit"></i> {{ l("Edit") }}
                                        </button>
                                        <button type="button" class="tmss-btn btn-outline-danger" *ngIf="'Pages.Master.Sales.MstSleModelGrade.Delete' | permission"
                                            (click)="deleteMstSleModels()" [disabled]="!selectModelId">
                                            <i class="fa fa-trash"></i>{{ l("Delete") }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div [hidden]="!areShownGradeMarketing">
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="tbContent">
                                        {{l("GradeMarketingInformation")}}
                                    </div>
                                    <grid-table 
                                        [columnDefs]="gradesColumnDefs" 
                                        [defaultColDef]="defaultColDef"
                                        (onChangeSelection)="onChangeGradeSelection($event)"
                                        [paginationParams]="gPaginationParams"
                                        (changePaginationParams)="changeGPage($event)"
                                        [frameworkComponents]="frameworkComponents" 
                                        [rowData]="gData"
                                        [height]="'150px'"
                                    ></grid-table>
                                </div>
                            </div>
    
                            <div class="kt-subheader__toolbar">
                                <div class="kt-subheader__wrapper">
                                    <!-- Button -->
                                    <div class="primeng-paging-container">
                                        <div class="primeng-paging-container" style="float: right; margin-top: 5px">
                                            <button type="button" class="tmss-btn btn-outline-primary" *ngIf="'Pages.Master.Sales.MstSleModelGrade.Create' | permission"
                                                (click)="createMstSleGrades()" [disabled]="!selectModelId">
                                                <i class="fa fa-plus"></i> {{ l("Add") }}
                                            </button>
                                            <button type="button" class="tmss-btn btn-outline-primary" *ngIf="'Pages.Master.Sales.MstSleModelGrade.Edit' | permission"
                                                (click)="editMstSleGrades()" [disabled]="!selectGradeId">
                                                <i class="fa fa-edit"></i> {{ l("Edit") }}
                                            </button>
                                            <button type="button" class="tmss-btn btn-outline-danger" *ngIf="'Pages.Master.Sales.MstSleModelGrade.Delete' | permission"
                                                (click)="deleteMstSleGrades()" [disabled]="!selectGradeId">
                                                <i class="fa fa-trash"></i>{{ l("Delete") }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="!areShownGradeProduction">
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="tbContent"> {{ l("SleGradeProduction") }}</div>
                                    <grid-table 
                                        [columnDefs]="productTables" 
                                        [rowData]="productData"
                                        [defaultColDef]="defaultColDef" 
                                        [paginationParams]="paginationProductionParams"
                                        (changePaginationParams)="changeProductPage($event)" 
                                        (onChangeSelection)="onChangeProductSelection($event)" 
                                        [frameworkComponents]="frameworkComponents"
                                        [height]="'130px'"
                                    ></grid-table>
                                </div>
                            </div>
                            <div class="kt-subheader__toolbar">
                                <div class="kt-subheader__wrapper">
                                    <div class="primeng-paging-container">
                                        <div class="primeng-paging-container" style="float: right; margin-top: 5px">
                                            <button type="button" class="tmss-btn btn-outline-primary" *ngIf="'Pages.Master.Sales.MstSleModelGrade.Create' | permission"
                                                (click)="createMstSleGradeProduces()" [disabled]="!selectGradeId">
                                                <i class="fa fa-plus"></i> {{ l("Add") }}
                                            </button>
                                            <button type="button" class="tmss-btn btn-outline-primary" *ngIf="'Pages.Master.Sales.MstSleModelGrade.Edit' | permission"
                                                (click)="editMstSleGradesProduces()" [disabled]="!selectProductionId">
                                                <i class="fa fa-edit"></i> {{ l("Edit") }}
                                            </button>
                                            <button type="button" class="tmss-btn btn-outline-danger" *ngIf="'Pages.Master.Sales.MstSleModelGrade.Delete' | permission"
                                                (click)="deleteMstSleGradeProduces()" [disabled]="!selectProductionId">
                                                <i class="fa fa-trash"></i>{{ l("Delete") }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="{{l('MstSleModelOtherModel')}}" id="Other" (selectTab)="selectOtherModelTab()">
            <mst-sle-other-make></mst-sle-other-make>
        </tab>
    </tabset>
</div>
<create-or-edit-mst-sle-models-modal #createOrEditMstSleModelsModal (modalSave)="callBackModelGrid(modelParams)">
</create-or-edit-mst-sle-models-modal>
<create-or-edit-grades #createOrEditMstSleGradesModal
    (modalSave)="refreshGradesList(gPaginationParams)" [modelIdPick]="modelIdsend">
</create-or-edit-grades>
<createOrEditMstSleGradeProducesModal #createOrEditMstSleGradeProducesModal [gradeIdPick]="gradeIdSend"
    (modalSave)="refreshProductList(paginationProductionParams)"></createOrEditMstSleGradeProducesModal>