<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item redline-header">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>{{ l("MasterCommon") }}</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    {{ l("MstSleDistricts") }}
                </span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <button type="button" class="tmss-btn btn-outline-primary" (click)="clearValueFilter()">
                        <i class="tmss-fa fas fa-redo mr-1"></i>{{l("ResetFilter")}}
                    </button>
                    <button type="button" class="tmss-btn btn-outline-primary" *ngIf="!advancedFiltersAreShown" (click)="onChangeFilterShown()">
                        <i class="tmss-fa fas fa-search mr-1"></i>{{ l("ShowAdvancedFilters") }}
                    </button>
                    <button type="button" class="tmss-btn btn-outline-primary" *ngIf="advancedFiltersAreShown" (click)="onChangeFilterShown()">
                        <i class="tmss-fa fas fa-search mr-1"></i>{{ l("HideAdvancedFilters") }}
                    </button>
                    <button type="button" class="tmss-btn btn-outline-primary" (click)="createMstSleDistricts()"
                        [disabled]="!selectProvinceId" *ngIf="'Pages.Master.Common.MstSleDistrict.Create' | permission">
                        <i class="tmss-fa fas fa-plus mr-1"></i>{{ l("Add") }}
                    </button>
                    <button type="button" class="tmss-btn btn-outline-primary" (click)="editMstSleDistricts()"
                        [disabled]="!selectedDistrictId" *ngIf="'Pages.Master.Common.MstSleDistrict.Edit' | permission">
                        <i class="tmss-fa fas fa-edit mr-1"></i>{{ l("Edit") }}
                    </button>
                    <button type="button" class="tmss-btn btn-outline-danger" (click)="deleteMstSleDistricts()"
                        [disabled]="!selectedDistrictId" *ngIf="'Pages.Master.Common.MstSleDistrict.Delete' | permission">
                        <i class="tmss-fa fas fa-trash-alt mr-1"></i>{{ l("Delete") }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <input [(ngModel)]="provinceFilterText" name="filterText" autoFocus
                                    class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" (keyup)="eventEnter($event)" />
                                <button (click)="search()" class="tmss-btn btn-outline-primary" type="submit">
                                    <i class="fa fa-search mr-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div [hidden]="!advancedFiltersAreShown">
                    <div class="row ml-1 align-items-center">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="row input-group">
                                    <span class="col-md-5 input-group-addon">{{l("ProvinceCode")}}</span>
                                    <input class="col-md-7 form-control-combobox" [(ngModel)]="provinceCodeFilter" type="text" (keyup)="eventEnter($event)" name="codeFilter">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="row input-group">
                                    <span class="col-md-5 input-group-addon">{{l("ProvinceName")}}</span>
                                    <input type="text" class="col-md-7 form-control-combobox" (keyup)="eventEnter($event)" name="NameFilter" [(ngModel)]="provinceNameFilter">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="row input-group">
                                    <span class="col-md-4 input-group-addon">{{l("Status")}}</span>
                                    <select class="col-md-8 form-control-combobox" (change)="search()" name="Status" [(ngModel)]="statusFilter">
                                        <option value=""></option>
                                        <option value="Y">{{l("MstSleEnable")}}</option>
                                        <option value="N">{{l("MstSleDisable")}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="row input-group">
                                    <span class="col-md-4 input-group-addon">{{l("Region")}}</span>
                                    <select class="col-md-8 form-control-combobox" (change)="search()" name="Region" [(ngModel)]="provinceSubRegionIdFilter">
                                        <option value=""></option>
                                        <option *ngFor="let region of regions" [value]="region.id">{{region.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--Province Table-->
                    <div class="col-xl-6 align-items-center">
                        <div class="tbContent">{{ l("ProvinceList") }}</div>
                        <grid-table [columnDefs]="provinceTable" [defaultColDef]="defaultColDef"
                            (callBackEvent)="callBackProvinceGrid($event)" 
                            (onChangeSelection)="onChangeProvinceSelection($event)" 
                            [paginationParams]="provincePaginationParams" 
                            (changePaginationParams)="changePPage($event)"
                            [rowData]="provinceData" [height]="'590px'"
                        ></grid-table>
                    </div>
                    <!--District Table-->
                    <div class="col-xl-6 align-items-center">
                        <div class="tbContent">{{ l("DistrictOfProvince") }}</div>
                        <grid-table [columnDefs]="districtTable" [defaultColDef]="defaultColDef"
                            [paginationParams]="districtPaginationParams" 
                            (changePaginationParams)="changeDPage($event)" 
                            (onChangeSelection)="onChangeDistrictSelection($event)" 
                            [rowData]="districtData" [height]="'590px'"
                            [frameworkComponents]="frameworkComponents"
                        ></grid-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<create-or-edit-districts-modal #createOrEditMstSleDistrictsModal [provinceIdPick]="provinceIdSend"
    (modalSave)="getDistrictsByProvinceId(districtPaginationParams)">
</create-or-edit-districts-modal>
