body .ui-widget,
html,
body {
    font-family: Arial !important;
}
html,
body .kt-container {
    color: #434349;
    font-size: 11px;
}

input:focus {
    outline-offset: none !important;
}
:focus {
    outline:none !important;
}

.ag-theme-alpine .ag-row:hover {
    background-color: #e8e8e8;
}
.ag-theme-alpine .ag-row {
    font-size: 11px !important;
    font: 400 11px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    line-height: 26px !important;
    border-bottom: 0px solid #bdc3c7 !important;
}

.ag-theme-alpine .ag-row-odd {
    background-color: #e7f6ff;
}
.ag-theme-alpine .ag-ltr .ag-cell {
    border-right: 0.1px solid #ccd2d2 !important;
    line-height: 26px !important;
    padding: unset;
}

.ag-theme-alpine .ag-header-row {
    font-weight: normal !important;
    font-size: 11px;
}
.ag-theme-alpine .ag-header-cell-label {
    justify-content: center;
}
.my-ag-header-css-class-cell {
    text-align: left;
    border-right: 1px solid #d9dcde !important;
}

.my-ag-header-css-class {
    text-align: left;
    border-right: 1px solid #d9dcde !important;
}

.ag-pivot-off .ag-header-group-cell {
    text-align: center !important;
}

.ag-pivot-off .ag-header-group-cell-text {
    text-align: center !important;
}

.ag-header-group-cell-label {
    justify-content: center;
}

.item {
    padding: unset;
    height: inherit;
    min-height: 50%;
    min-height: inherit;
    border: 1px solid #cab9b9;
    box-shadow: 4px 2px 3px 0px rgba(2, 2, 2, 0.28);
}
.tbContent{
    background-image: linear-gradient(to bottom, #F5F4F9 0%, #ECEAF3 100%);
    height: 25px;
    color: black;
    padding: 5px 5px 5px 5px;
}

.form-group { margin-bottom: 4px !important; }
.form-group label{
    margin-bottom: 1px !important;
    font-size: 11px !important;
}
.btn { padding: 2px 10px !important; }
.kt-subheader .btn { height: 24px !important;}
.kt-subheader { margin: 2px 0 !important; }


input.form-control:hover,
.ui-column-filter:hover { border: 1px solid #5472eb !important; }


.kt-portlet .kt-portlet__body { padding: 6px !important; }
.kt-container { padding: 0 6px !important; }
body .ui-table .ui-table-tbody > tr > td {
    padding: 2px 2px !important;
    font-size: 11px !important;
}
body .ui-table .ui-table-thead > tr > th { padding: 2px 4px !important;}

.text-muted {  font-size: 11px; }
.total-records-count {  margin-top: 10px; margin-left: 4px;
    display: inline-block;
    font-size: 11px; }
.mb-2, .my-2 { margin-bottom: 0px !important; }
.kt-subheader .kt-subheader__main .kt-subheader__title,
.kt-subheader .kt-subheader__main .kt-subheader__desc {  font-size: 13px !important; }
.input-group-addon { 
    padding: 6px 6px;
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 35%;
    border-right: 5px;
}

.form-control-combobox {
   
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.44;
    border: 1px solid #ced4da;
    background-clip: padding-box;
    width: 100%;
}

.redline-header {
    border-bottom: 2px solid #c8102e;
	padding: 0.55rem;
}