<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item redline-header">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>{{ l("MasterCommon") }}</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">{{ l("MstGenDealers") }}</span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <button type="button" class="tmss-btn btn-outline-primary" (click)="clearValueFilter()">
                        <i class="tmss-fa fas fa-redo mr-1"></i>{{l("ResetFilter")}}
                    </button>
                    <button (click)="onChangeFilterShown()" *ngIf="!advancedFiltersAreShown"
                        class="tmss-btn btn-outline-primary">
                        <i class="fa fa-search"></i> {{l("ShowAdvancedFilters")}}
                    </button>
                    <button (click)="onChangeFilterShown()" *ngIf="advancedFiltersAreShown"
                        class="tmss-btn btn-outline-primary">
                        <i class="fa fa-search"></i> {{l("HideAdvancedFilters")}}
                    </button>
                    <button *ngIf="!areShownAddress" (click)="areShownAddress = !areShownAddress"
                        class="tmss-btn btn-outline-primary">
                        <i class="fas fa-th"></i> {{l("ShowDealerAddress")}}
                    </button>
                    <button *ngIf="areShownAddress" (click)="areShownAddress = !areShownAddress"
                        class="tmss-btn btn-outline-primary">
                        <i class="fas fa-th"></i> {{l("HideDealerAddress")}}
                    </button>
                    <button class="tmss-btn btn-outline-primary" *ngIf="!areShownContact"
                        (click)="areShownContact = !areShownContact">
                        <i class="fa fa-th"></i> {{ l("ShowDealerContact") }}
                    </button>
                    <button class="tmss-btn btn-outline-primary" *ngIf="areShownContact"
                        (click)="areShownContact = !areShownContact">
                        <i class="fa fa-th"></i> {{ l("HideDealerContact") }}
                    </button>
                    <button class="tmss-btn btn-outline-primary" *ngIf="!insuranceDealerShow"
                        (click)="insuranceDealerShow = !insuranceDealerShow">
                        <i class="fa fa-th"></i> {{ l("ShowInsuranceDealer") }}
                    </button>
                    <button class="tmss-btn btn-outline-primary" *ngIf="insuranceDealerShow"
                        (click)="insuranceDealerShow = !insuranceDealerShow">
                        <i class="fa fa-th"></i> {{ l("HideInsuranceDealer") }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <input [(ngModel)]="filterText" name="filterText" autoFocus
                                    class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text"
                                    (keyup)="eventEnter($event)" />
                                <button (click)="searchDealer()" class="tmss-btn btn-outline-primary" type="submit">
                                    <i class="fa fa-search mr-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="kt-form" autocomplete="off">
                    <div [hidden]="!advancedFiltersAreShown">
                        <div class="row ml-1">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("MstGenDealersIsLexus")
                                            }}</span>
                                        <select type="text" class="col-md-7 form-control-combobox"
                                            (change)="searchDealer()" (keyup)="eventEnter($event)"
                                            name="isLexusFilter" [(ngModel)]="isLexusFilter">
                                            <option value="">{{l("All")}}</option>
                                            <option value="Y">{{l("Yes")}}</option>
                                            <option value="N">{{l("No")}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("MstGenDealersIsDealer")
                                            }}</span>
                                        <select type="text" class="col-md-7 form-control-combobox"
                                            (change)="searchDealer()" (keyup)="eventEnter($event)"
                                            name="isDealerFilter" [(ngModel)]="isDealerFilter">
                                            <option value="">{{l("All")}}</option>
                                            <option value=1>{{l("MstGenDealerTMV")}}</option>
                                            <option value=2>{{l("MstGenDealerDealer")}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("MstGenDealersCode") }}</span>
                                        <input class="col-md-7 form-control-combobox" [(ngModel)]="codeFilter"
                                            type="text" (keyup)="eventEnter($event)" name="codeFilter" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span
                                            class="col-md-5 input-group-addon">{{l("MstGenDealersAccountNo")}}</span>
                                        <input type="text" class="col-md-7 form-control-combobox"
                                            (keyup)="eventEnter($event)" name="accountNoFilter"
                                            [(ngModel)]="accountNoFilter" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-1">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("MstGenDealersBank") }}</span>
                                        <input type="text" class="col-md-7 form-control-combobox"
                                            (keyup)="eventEnter($event)" name="bankFilter"
                                            [(ngModel)]="bankFilter" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("MstGenDealersBankAddress")
                                            }}</span>
                                        <input type="text" class="col-md-7 form-control-combobox"
                                            (keyup)="eventEnter($event)" name="bankAddressFilter"
                                            [(ngModel)]="bankAddressFilter" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{l("MstGenDealersVnName")}}</span>
                                        <input type="text" class="col-md-7 form-control-combobox"
                                            (keyup)="eventEnter($event)" name="vnNameFilter"
                                            [(ngModel)]="vnNameFilter" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("MstGenDealersEnName")
                                            }}</span>
                                        <input type="text" class="col-md-7 form-control-combobox"
                                            (keyup)="eventEnter($event)" name="enNameFilter"
                                            [(ngModel)]="enNameFilter" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-1">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("MstGenDealersAddress")
                                            }}</span>
                                        <input type="text" class="col-md-7 form-control-combobox"
                                            (keyup)="eventEnter($event)" name="addressFilter"
                                            [(ngModel)]="addressFilter" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("MstGenDealersAbbreviation")
                                            }}</span>
                                        <input type="text" class="col-md-7 form-control-combobox"
                                            (keyup)="eventEnter($event)" name="abbreviationFilter"
                                            [(ngModel)]="abbreviationFilter" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("MstGenDealersContactPerson")
                                            }}</span>
                                        <input type="text" class="col-md-7 form-control-combobox"
                                            (keyup)="eventEnter($event)" name="contactPersonFilter"
                                            [(ngModel)]="contactPersonFilter" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("MstGenDealersPhone")
                                            }}</span>
                                        <input type="text" class="col-md-7 form-control-combobox"
                                            (keyup)="eventEnter($event)" name="phoneFilter"
                                            [(ngModel)]="phoneFilter" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-1">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("Status") }}</span>
                                        <select type="text" class="col-md-7 form-control-combobox"
                                            (change)="searchDealer()" name="statusFilter"
                                            [(ngModel)]="statusFilter">
                                            <option value="">{{l("All")}}</option>
                                            <option value="Y">{{ l("MstSleEnable") }}</option>
                                            <option value="N">{{ l("MstSleDisable") }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("Fax") }}</span>
                                        <input type="text" class="col-md-7 form-control-combobox"
                                            (keyup)="eventEnter($event)" name="faxFilter" [(ngModel)]="faxFilter" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("MstGenDealersDescription")
                                            }}</span>
                                        <input type="text" class="col-md-7 form-control-combobox"
                                            (keyup)="eventEnter($event)" name="descriptionFilter"
                                            [(ngModel)]="descriptionFilter" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("MstGenDealersTaxCode")
                                            }}</span>
                                        <input type="text" class="col-md-7 form-control-combobox"
                                            (keyup)="eventEnter($event)" name="taxCodeFilter"
                                            [(ngModel)]="taxCodeFilter" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12 align-items-center">
                        <div class="item col-12">
                            <div class="tbContent">
                                {{ l("DealerListManagement") }}
                            </div>
                            <grid-table [columnDefs]="columnDefsDealer" [rowData]="rowDataDealer"
                                [defaultColDef]="defaultColDef" (callBackEvent)="callBackGridDealer($event)"
                                [paginationParams]="dealerPaginationParams"
                                (changePaginationParams)="changePageDealer($event)"
                                (onChangeSelection)="onChangeSelectionDealer($event)"
                                (keyup)="onKeyUpDownDealer($event)" [height]="'322px'"
                                [frameworkComponents]="frameworkComponents"></grid-table>
                        </div>
                    </div>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <!-- Button -->
                        <div class="primeng-paging-container">
                            <div class="primeng-paging-container" style="float: right; margin-top: 5px">
                                <button type="button" class="tmss-btn btn-outline-primary"
                                    (click)="createMstGenDealers()"
                                    *ngIf="'Pages.Master.Common.MstGenDealers.Create' | permission">
                                    <i class="fa fa-plus"></i> {{l("Add")}}
                                </button>
                                <button type="button" class="tmss-btn btn-outline-primary"
                                    (click)="editMstGenDealers()" [disabled]="!selectDealer"
                                    *ngIf="'Pages.Master.Common.MstGenDealers.Edit' | permission">
                                    <i class="fa fa-edit"></i> {{l("Edit")}}
                                </button>
                                <button type="button" class="tmss-btn btn-outline-danger"
                                    (click)="deleteMstGenDealers()" [disabled]="!selectDealer"
                                    *ngIf="'Pages.Master.Common.MstGenDealers.Delete' | permission">
                                    <i class="fa fa-trash"></i> {{l("Delete")}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<createOrEditMstGenDealersModal #createOrEditMstGenDealersModal (modalSave)="callBackGridDealer(dealerParams)"
    [dealerParentId]='dealerParentId'>
</createOrEditMstGenDealersModal>