<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text" (keyup)="eventEnter($event)">
                                <button  (click)="search()"  class="tmss-btn btn-outline-primary"
                                    type="submit"><i class="fa fa-search mr-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="tbContent"> {{l('MstSleMakeCompetitorList')}}</div>
                        <grid-table [columnDefs]="columnDefs" 
                            [defaultColDef]="defaultColDef"
                            (callBackEvent)="callBackGrid($event)" 
                            (changePaginationParams)="changePage($event)"
                            (onChangeSelection)="onChangeSelection($event)"
                            [paginationParams]="paginationParams"
                            [frameworkComponents]="frameworkComponents"
                            [rowData]="rowData"
                            [height]="'240px'"
                        ></grid-table>
                    </div>
                </div>

                <div class="row align-items-center mt-5">
                    <div class="col-xl-12">
                        <div class="tbContent"> {{l('ModelInformation')}}</div>
                        <grid-table [columnDefs]="columnDefsModel" 
                            [defaultColDef]="defaultColDef"
                            (callBackEvent)="callBackGridModel($event)" 
                            (onChangeSelection)="onChangeSelectionModel($event)"
                            [showPagination]="false"
                            [rowData]="rowDataModel"
                            [frameworkComponents]="frameworkComponents"
                            [height]="'240px'"
                        ></grid-table>
                    </div>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <div class="primeng-paging-container">
                            <div class="primeng-paging-container" style="float: right; margin-top: 5px">
                                <button type="button"
                                    class="tmss-btn btn-outline-primary" (click)="create()">
                                    <i class="fa fa-plus"></i> {{l("Add")}}</button>
                                <button type="button"
                                    class="tmss-btn btn-outline-primary" (click)="edit()"
                                    [disabled]="!seletedId"> <i class="fa fa-edit"></i> {{l("Edit")}}</button>
                                <button type="button"
                                    class="tmss-btn btn-outline-danger" (click)="delete()"
                                    [disabled]="!seletedId"> <i class="fa fa-trash"></i> {{l("Delete")}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div [hidden]="!areShownGradeMarketing"> -->
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="tbContent">{{l("GradeMarketingInformation")}}</div>
                            <grid-table
                                [columnDefs]="gradesColumnDefs" 
                                [defaultColDef]="defaultColDef"
                                (onChangeSelection)="onChangeGradeSelection($event)"
                                [paginationParams]="gPaginationParams"
                                (changePaginationParams)="changeGPage($event)"
                                [frameworkComponents]="frameworkComponents" 
                                [rowData]="gData"
                                [height]="'150px'"
                            ></grid-table>
                        </div>
                    </div>

                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
                            <!-- Button -->
                            <div class="primeng-paging-container">
                                <div class="primeng-paging-container" style="float: right; margin-top: 5px">
                                    <button type="button" class="tmss-btn btn-outline-primary" 
                                        (click)="createMstSleGrades()" [disabled]="!seletedModelId">
                                        <i class="fa fa-plus"></i> {{ l("Add") }}
                                    </button>
                                    <button type="button" class="tmss-btn btn-outline-primary"
                                        (click)="editMstSleGrades()" [disabled]="!selectGradeId">
                                        <i class="fa fa-edit"></i> {{ l("Edit") }}
                                    </button>
                                    <button type="button" class="tmss-btn btn-outline-danger"
                                        (click)="deleteMstSleGrades()" [disabled]="!selectGradeId">
                                        <i class="fa fa-trash"></i>{{ l("Delete") }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>
<create-or-edit-mst-sle-models-modal #createOrEditMstSleModelsModal (modalSave)="onGridReadyModel(paginationParams)"></create-or-edit-mst-sle-models-modal>
<create-or-edit-other-grade #createOrEditMstSleGradesModal (modalSave)="refreshGradesList()" [modelIdPick]="modelIdsend"></create-or-edit-other-grade>