<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog tmss-modal-sm">
        <div class="modal-content">
            <div class="modal-header redline-header">
                <h4 class="modal-title">
                    <span>{{ l("Tình trạng kết quả Liên hệ") }}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <tmss-checkbox name="contactOK" [rightCheckbox]="true" [text]="'Thành công'" [(ngModel)]="contactOK" (change)="changeOKContactResult()"></tmss-checkbox>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <tmss-checkbox name="contactNotOK" [rightCheckbox]="true" [text]="'Không thành công'" [(ngModel)]="contactNotOK" (change)="changeNotOKContactResult()"></tmss-checkbox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <tmss-combobox [items]="reasonOfNCs" [isDisabled]="!contactNotOK" [text]="l('SalesCustomerContactResult')" name="contactStatus" (onChangeValue)="changeReason()" [(ngModel)]="customerContactResult.reasonOfNCId"></tmss-combobox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <tmss-text-input [text]="l('Other')" *ngIf="isOtherReason" [isDisabled]="!contactNotOK" name="otherReason" [(ngModel)]="customerContactResult.reasonOfNCOther"></tmss-text-input>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <tmss-checkbox [rightCheckbox]="true" name="isMoveFreeze" [isDisabled]="!contactNotOK" [text]="'Chuyển sang DS đóng băng'" [(ngModel)]="customerContactResult.isMoveFreeze"></tmss-checkbox>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <tmss-combobox [items]="freezeReasons" *ngIf="customerContactResult.isMoveFreeze" [text]="l('Lý do đóng băng')" name="reasonOfFreezeId" (onChangeValue)="changeFreeze()" [(ngModel)]="customerContactResult.reasonOfFreezeId"></tmss-combobox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <tmss-textarea [placeholder]="l('Lý do chuyển sang DS Đóng băng')" *ngIf="isOtherFreeze" name="isOtherFreeze" [(ngModel)]="customerContactResult.reasonLost"></tmss-textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="tmss-btn btn-outline-primary" (click)="save()">{{l("Save")}}</button>
                <button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark" (click)="close()">{{l("Cancel")}}</button>
            </div>
        </div>
    </div>
</div>
