<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #mstSleModelsForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="mstSleModels.id">{{
                            l("EditMstSleModels")
                        }}</span>
                        <span *ngIf="!mstSleModels.id">{{
                            l("CreateNewMstSleModels")
                        }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                        <div class="kt-portlet kt-portlet--mobile">
                            <div class="kt-portlet__body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input [isDisable]="false" [className]="ipStRequire" [isRequired]="true" required
                        					[text]="l('ProductionCode')" name="Production Code" [(ngModel)]="mstSleModels.productionCode" [maxlength]="50">
                      						</tmss-text-input>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("ProductionCode") }} </span>
                                                <input type="text" maxlength="50" class="col-md-7 form-control-combobox ipStRequire"
                                                    [(ngModel)]="mstSleModels.productionCode" name="Production Code" required />
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input [isDisable]="false" [className]="ipStRequire" [isRequired]="true" required
                        					[text]="l('MarketingCode')" name="MarketingCode" [(ngModel)]="mstSleModels.marketingCode" [maxlength]="50">
                      						</tmss-text-input>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("MarketingCode") }} </span>
                                                <input type="text" maxlength="50" class="col-md-7 form-control-combobox ipStRequire"
                                                    [(ngModel)]="mstSleModels.marketingCode" name="MarketingCode" required />
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input [isDisable]="false" [className]="ipStRequire"
                        					[text]="l('MstGenDealersAbbreviation')" name="abbreviation" [(ngModel)]="mstSleModels.abbreviation" [maxlength]="50">
                      						</tmss-text-input>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("MstGenDealersAbbreviation") }} </span>
                                                <input type="text" maxlength="50" class="col-md-7 form-control-combobox"
                                                    [(ngModel)]="mstSleModels.abbreviation" name="abbreviation"/>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input [isDisable]="false" [className]="ipStRequire" [isRequired]="true" required
                        					[text]="l('VnName')" name="VnName" [(ngModel)]="mstSleModels.vnName" [maxlength]="50">
                      						</tmss-text-input>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("VnName") }}</span>
                                                <input type="text" maxlength="50" class="col-md-7 form-control-combobox ipStRequire"
                                                    [(ngModel)]="mstSleModels.vnName" required name="VnName" />
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input [isDisable]="false" [className]="ipStRequire" [isRequired]="true" required
                        					[text]="l('EnName')" name="EnName" [(ngModel)]="mstSleModels.enName" [maxlength]="50">
                      						</tmss-text-input>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("EnName") }}</span>
                                                <input type="text" maxlength="50" class="col-md-7 form-control-combobox ipStRequire"
                                                    [(ngModel)]="mstSleModels.enName" required name="EnName" />
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-combobox [isDisabled]="false"  [items]="listStatus"
                        					[text]="l('Status')" name="Status"
                        					[(ngModel)]="mstSleModels.status"></tmss-combobox>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("Status") }}</span>
                                                <select class="col-md-7 form-control-combobox ipStRequire" [(ngModel)]="mstSleModels.status" required name="Status">
                                                    <option value="Y">{{l("MstSleEnable")}}</option>
                                                    <option value="N">{{l("MstSleDisable")}}</option>
                                                </select>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input [isDisable]="false" [className]="ipStRequire" [isRequired]="true" required [type]="number"
                        					[text]="l('Ordering')" name="Ordering" [(ngModel)]="mstSleModels.ordering" [maxlength]="4">
                      						</tmss-text-input>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("Ordering") }}</span>
                                                <input type="number" class="col-md-7 form-control-combobox ipStRequire" oninput="this.value=this.value.slice(0,this.maxLength||''); this.value=(this.value < 1) ? '' : this.value;" min="1" max="9999" maxlength="4"
                                                    [(ngModel)]="mstSleModels.ordering" name="Ordering" required/>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input [isDisable]="false" [className]="ipStRequire"
                        					[text]="l('Description')" name="Description" [(ngModel)]="mstSleModels.description" [maxlength]="50">
                      						</tmss-text-input>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("Description") }}</span>
                                                <input type="text" class="col-md-7 form-control-combobox" maxlength="50"
                                                    [(ngModel)]="mstSleModels.description" name="Description" />
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input [isDisable]="false" [className]="ipStRequire"
                        					[text]="l('MarketingCodeWeb')" name="MarketingCodeWeb" [(ngModel)]="mstSleModels.marketingCodeWeb" [maxlength]="50">
                      						</tmss-text-input>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("Description") }}</span>
                                                <input type="text" class="col-md-7 form-control-combobox" maxlength="50"
                                                    [(ngModel)]="mstSleModels.description" name="Description" />
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark" (click)="close()">
                        {{ l("Cancel") }}
                    </button>
                    <button type="submit" class="tmss-btn btn-outline-primary" [disabled]="!mstSleModelsForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save mr-1"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>