<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #mstSleVehiclePriceForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="mstSleVehiclePrice.id">{{ l("EditMstSleVehiclePrice") }}</span>
                        <span *ngIf="!mstSleVehiclePrice.id">{{ l("CreateNewMstSleVehiclePrice") }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>  
                <div class="modal-body">
                    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                        <div class="kt-portlet kt-portlet--mobile">
                            <div class="kt-portlet__body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <tmss-combobox [isDisabled]="false" [isRequired]="true" required [items]="listModel"
                        					[text]="l('MstSleModelCode')" name="Model" [(ngModel)]="mstSleVehiclePrice.modelId"
                                            (change)="getGradeByModel(mstSleVehiclePrice.modelId)"                                   
                                            ></tmss-combobox>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("MstSleModelCode")
                                                    }}</span>
                                                <select name="Model" type="text"
                                                    [(ngModel)]="mstSleVehiclePrice.modelId"
                                                    class="col-md-7 form-control-combobox ipStRequire"
                                                    (change)="getGradeByModel(mstSleVehiclePrice.modelId)"
                                                    (click)="getGradeByModel(mstSleVehiclePrice.modelId)">
                                                    <option *ngFor="let model of listModel" [value]="model.id">
                                                        {{model.marketingCode}}</option>
                                                </select>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <tmss-combobox [isDisabled]="false" [isRequired]="true" required [items]="listGradeByModel"
                        					[text]="l('Grade')" name="GradeId" [(ngModel)]="mstSleVehiclePrice.gradeId"
                                            (change)="getGradeProByGrade(mstSleVehiclePrice.gradeId)"
                                           ></tmss-combobox>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("Grade") }}</span>
                                                <select name="GradeId" type="text"
                                                    [(ngModel)]="mstSleVehiclePrice.gradeId"
                                                    class="col-md-7 form-control-combobox ipStRequire"
                                                    (change)="getGradeProByGrade(mstSleVehiclePrice.gradeId)"
                                                    (click)="getGradeProByGrade(mstSleVehiclePrice.gradeId)">
                                                    <option *ngFor="let grade of listGradeByModel" [value]="grade.id">
                                                        {{grade.marketingCode}}</option>
                                                </select>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <tmss-combobox [isDisabled]="false" [isRequired]="true" required [items]="listGradeProByGrade"
                        					[text]="l('GradeProduction')" name="GradeProduction" [(ngModel)]="mstSleVehiclePrice.gradeProductionId"
                                            (change)="getColorByGradePro(mstSleVehiclePrice.gradeProductionId)"
                                            ></tmss-combobox>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("GradeProduction")
                                                    }}</span>
                                                <select name="GradeProduction" type="text"
                                                    [(ngModel)]="mstSleVehiclePrice.gradeProductionId"
                                                    class="col-md-7 form-control-combobox ipStRequire" required
                                                    (change)="getColorByGradePro(mstSleVehiclePrice.gradeProductionId)"
                                                    (click)="getColorByGradePro(mstSleVehiclePrice.gradeProductionId)">
                                                    <option *ngFor="let gradePro of listGradeProByGrade"
                                                        [value]="gradePro.id">{{gradePro.productionCode}}</option>
                                                </select>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <tmss-combobox [isDisabled]="false" [isRequired]="true" required [items]="listColorByGradePro"
                        					[text]="l('Color')" name="ColorId"
                        					[(ngModel)]="mstSleVehiclePrice.colorId"></tmss-combobox>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("Color") }}</span>
                                                <select name="ColorId" type="text"
                                                    [(ngModel)]="mstSleVehiclePrice.colorId"
                                                    class="col-md-7 form-control-combobox ipStRequire" required>
                                                    <option *ngFor="let color of listColorByGradePro"
                                                        [value]="color.id">{{color.code}}</option>
                                                </select>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <tmss-combobox [isDisabled]="false" [isRequired]="true" required [items]="listIColorByGradePro"
                        					[text]="l('InteriorColor')" name="IColorId"
                        					[(ngModel)]="mstSleVehiclePrice.interiorColorId"></tmss-combobox>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("InteriorColor") }}</span>
                                                <select name="IColorId" type="text"
                                                    [(ngModel)]="mstSleVehiclePrice.interiorColorId"
                                                    class="col-md-7 form-control-combobox ipStRequire" required>
                                                    <option value=""></option>
                                                    <option *ngFor="let iColor of listIColorByGradePro"
                                                        [value]="iColor.id">{{iColor.code}}</option> 
                                                </select>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <tmss-text-input [type]="number" [isDisable]="false" [className]="ipStRequire" [isRequired]="true" required
                        					[text]="l('MstSleVehiclePricePriceAmount')" name="PriceAmount" [(ngModel)]="mstSleVehiclePrice.priceAmount" [maxlength]="12">
                      						</tmss-text-input>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{
                                                    l("MstSleVehiclePricePriceAmount") }}</span>
                                                <input type="number"
                                                    oninput="this.value=this.value.slice(0,this.maxLength||''); this.value=(this.value < 1) ? '' : this.value;"
                                                    min="1" max="999999999999" maxlength="12"
                                                    class="col-md-7 form-control-combobox ipStRequire"
                                                    [(ngModel)]="mstSleVehiclePrice.priceAmount" name="PriceAmount"
                                                    required />
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <tmss-text-input [type]="number" [isDisable]="false" [className]="ipStRequire" [isRequired]="true" required
                        					[text]="l('OrderPriceAmount')" name="OrderPriceAmount" [(ngModel)]="mstSleVehiclePrice.orderPriceAmount" [maxlength]="12">
                      						</tmss-text-input>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("OrderPriceAmount")
                                                    }}</span>
                                                <input type="number"
                                                    oninput="this.value=this.value.slice(0,this.maxLength||''); this.value=(this.value < 1) ? '' : this.value;"
                                                    min="1" max="999999999999" maxlength="12"
                                                    class="col-md-7 form-control-combobox ipStRequire"
                                                    [(ngModel)]="mstSleVehiclePrice.orderPriceAmount"
                                                    name="OrderPriceAmount" required />
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <tmss-combobox [isDisabled]="false" [items]="listStatus"
                        					[text]="l('Status')" name="Status"
                        					[(ngModel)]="mstSleVehiclePrice.status"></tmss-combobox>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{l("Status")}}</span>
                                                <select name="Status" type="text"
                                                    [(ngModel)]="mstSleVehiclePrice.status"
                                                    class="col-md-7 form-control-combobox">
                                                    <option value=""></option>
                                                    <option value="Y">{{l("MstSleVehiclePriceActive")}}</option>
                                                    <option value="N">{{l("MstSleVehiclePriceInActive")}}</option>
                                                </select>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <tmss-combobox [isDisabled]="false" [isRequired]="true" required [items]="listTransmissions"
                        					[text]="l('MstSleVehiclePriceTransmission')" name="transmissions"
                        					[(ngModel)]="mstSleVehiclePrice.transmissionId"></tmss-combobox>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{
                                                    l("MstSleVehiclePriceTransmission") }}</span>
                                                <select name="transmissions" type="text"
                                                    [(ngModel)]="mstSleVehiclePrice.transmissionId"
                                                    class="col-md-7 form-control-combobox ipStRequire" required>
                                                    <option value=""></option>
                                                    <option *ngFor="let transmissions of listTransmissions "
                                                        [value]="transmissions.id">{{transmissions.description}}
                                                    </option>
                                                </select>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <tmss-combobox [isDisabled]="false" [isRequired]="true" required [items]="listFuleType"
                        					[text]="l('MstSleVehiclePriceFuel')" name="fuletype"
                        					[(ngModel)]="mstSleVehiclePrice.fuelTypeId"></tmss-combobox>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("MstSleVehiclePriceFuel")
                                                    }}</span>
                                                <select name="fuletype" type="text"
                                                    [(ngModel)]="mstSleVehiclePrice.fuelTypeId"
                                                    class="col-md-7 form-control-combobox ipStRequire" required>
                                                    <option value=""></option>
                                                    <option *ngFor="let fuletype of listFuleType "
                                                        [value]="fuletype.id">{{fuletype.description}}</option>
                                                </select>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <tmss-combobox [isDisabled]="false" [isRequired]="true" required [items]="listEngineType"
                        					[text]="l('MstSleVehiclePriceEngineType')" name="enginetype"
                        					[(ngModel)]="mstSleVehiclePrice.engineTypeId"></tmss-combobox>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{
                                                    l("MstSleVehiclePriceEngineType") }}</span>
                                                <select name="enginetype" type="text"
                                                    [(ngModel)]="mstSleVehiclePrice.engineTypeId"
                                                    class="col-md-7 form-control-combobox ipStRequire" required>
                                                    <option value=""></option>
                                                    <option *ngFor="let enginetype of listEngineType "
                                                        [value]="enginetype.id">{{enginetype.description}}</option>
                                                </select>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <tmss-combobox [isDisabled]="false" [isRequired]="true" required [items]="listCBU"
                        					[text]="l('MstSleVehiclePriceIsCBU')" name="isCBU"
                        					[(ngModel)]="mstSleVehiclePrice.isCBU"></tmss-combobox>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("MstSleVehiclePriceIsCBU")
                                                    }}</span>
                                                <select name="isCBU" type="text" [(ngModel)]="mstSleVehiclePrice.isCBU"
                                                    class="col-md-7 form-control-combobox ipStRequire" required>
                                                    <option value=""></option>
                                                    <option value="0">{{l("CKD")}}</option>
                                                    <option value="1">{{l("CBU")}}</option>
                                                    <option value="2">{{l("Lexus")}}</option>
                                                </select>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <tmss-text-input  [isDisable]="false" [className]="ipStRequire"
                        					[text]="l('MstSleVehiclePriceCommercialName')" name="CommercialName" [(ngModel)]="mstSleVehiclePrice.commercialName">
                      						</tmss-text-input>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("MstSleVehiclePriceCommercialName") }}</span>
                                                <input type="text" class="col-md-7 form-control-combobox" [(ngModel)]="mstSleVehiclePrice.commercialName" name="CommercialName" />
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <tmss-text-input  [isDisable]="false" [className]="ipStRequire"
                        					[text]="l('MstSleVehiclePriceRemarks')" name="Remarks" [(ngModel)]="mstSleVehiclePrice.remarks">
                      						</tmss-text-input>
                                            <!-- <div class="row input-group">
                                                <span class="col-md-5 input-group-addon">{{ l("MstSleVehiclePriceRemarks") }}</span>
                                                <input type="text" class="col-md-7 form-control-combobox" [(ngModel)]="mstSleVehiclePrice.remarks" name="Remarks"/>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark" (click)="close()">{{ l("Cancel") }}</button>
                    <button type="submit" class="tmss-btn btn-outline-primary" [disabled]="!mstSleVehiclePriceForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save mr-1"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>