<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item redline-header">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>{{ l("MasterSales") }}</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">{{ l("MstSleVehiclePrice") }}</span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <button type="button" class="tmss-btn btn-outline-primary" (click)="clearValueFilter()">
                        <i class="tmss-fa fas fa-redo mr-1"></i>{{l("ResetFilter")}}
                    </button>
                    <button class="tmss-btn btn-outline-primary" *ngIf="!advancedFiltersAreShown" (click)="onChangeFilterShown()"><i class="fa fa-search"></i>
                        {{ l("ShowAdvancedFilters") }}</button>
                    <button class="tmss-btn btn-outline-primary" *ngIf="advancedFiltersAreShown" (click)="onChangeFilterShown()"><i class="fa fa-search"></i>
                        {{ l("HideAdvancedFilters") }}</button>
                    <button type="button" type="button" class="tmss-btn btn-outline-primary" (click)="createMstSleVehiclePrice()"
                        *ngIf="'Pages.Master.Sales.MstSleVehiclePrice.Create' | permission">
                        <i class="fa fa-plus"></i> {{ l("Add") }}
                    </button>
                    <button type="button" class="tmss-btn btn-outline-primary" (click)="editMstSleVehiclePrice()" *ngIf="'Pages.Master.Sales.MstSleVehiclePrice.Edit' | permission" [disabled]="!selectVehiclePrice">
                        <i class="fa fa-edit"></i> {{ l("Edit") }}
                    </button>
                    <button type="button" class="tmss-btn btn-outline-danger" (click)="deleteMstSleVehiclePrice()" *ngIf="'Pages.Master.Sales.MstSleVehiclePrice.Delete' | permission" [disabled]="!selectVehiclePrice">
                        <i class="fa fa-trash"></i>
                        {{ l("Delete") }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div [hidden]="!advancedFiltersAreShown">
                        <div class="row ml-1">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("GradeProduction") }}</span>
                                        <select class="col-md-7 form-control-combobox" (change)="onChangeDropdown()" name="gradeProductionIdFilter" [(ngModel)]="gradeProductionIdFilter">
                                            <option value=""></option>
                                            <option *ngFor="let gradePro of listGradePro" [value]="gradePro.id">{{ gradePro.productionCode }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("Color") }}</span>
                                        <select class="col-md-7 form-control-combobox" (change)="onChangeDropdown()" name="ColorIdFilter" [(ngModel)]="colorIdFilter">
                                            <option value=""></option>
                                            <option *ngFor="let color of listColor" [value]="color.id">{{ color.code }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("InteriorColor") }}</span>
                                        <select class="col-md-7 form-control-combobox" (change)="onChangeDropdown()" name="interiorColorIdFilter" [(ngModel)]="interiorColorIdFilter">
                                            <option value=""></option>
                                            <option *ngFor="let color of listColor" [value]="color.id">{{ color.code }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{l("Status")}}</span>
                                        <select name="Status" type="text" [(ngModel)]="statusFilter" (change)="onChangeDropdown()" class="col-md-7 form-control-combobox">
                                            <option value=""></option>
                                            <option value="Y">{{l("MstSleVehiclePriceActive")}}</option>
                                            <option value="N">{{l("MstSleVehiclePriceInActive")}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-1">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-5 input-group-addon">{{ l("MstSleVehiclePriceIsCBU") }}</span>
                                        <select name="IColorId" type="text" [(ngModel)]="isCBUFilter" class="col-md-7 form-control-combobox " (change)="onChangeDropdown()">
                                            <option value=""></option>
                                            <option value="0">{{l("CKD")}}</option>
                                            <option value="1">{{l("CBU")}}</option>
                                            <option value="2">{{l("Lexus")}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-1">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-4 input-group-addon">{{l("Price")}}</span>
                                        <input type="number" class="col-md-4 form-control-combobox" [(ngModel)]="priceAmountMinFilter" (keyup)="eventEnter($event)" name="squareAmountMinFilter" placeholder="{{l('From')}}"
                                            oninput="this.value = this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" min="0" />
                                        <input type="number" class="col-md-4 form-control-combobox" [(ngModel)]="priceAmountMaxFilter" (keyup)="eventEnter($event)"
                                            name="squareAmountMaxFilter" placeholder="{{l('To')}}" oninput="this.value = this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" min="0" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row input-group">
                                        <span class="col-md-4 input-group-addon">{{l("OrderPriceAmount")}}</span>
                                        <input type="number" class="col-md-4 form-control-combobox" oninput="this.value = this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" min="0" [(ngModel)]="orderPriceAmountMinFilter"
                                            (keyup)="eventEnter($event)" name="squareAmountMinFilter" placeholder="{{l('From')}}" />
                                        <input type="number" class="col-md-4 form-control-combobox" oninput="this.value = this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                                            min="0" [(ngModel)]="orderPriceAmountMaxFilter" (keyup)="eventEnter($event)" name="squareAmountMaxFilter" placeholder="{{l('To')}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row align-items-center">
                    <div class="col-xl-12">
                            <div class="tbContent">{{ l("VehiclePriceDefineList") }}</div>
                            <grid-table
                                [columnDefs]="columnDefs"
                                [defaultColDef]="defaultColDef"
                                (callBackEvent)="callBackVehiclePriceGrid($event)"
                                [paginationParams]="paginationParams"
                                (changePaginationParams)="changePage($event)"
                                (onChangeSelection)="onChangeSelection($event)"
                                [frameworkComponents]='frameworkComponents'
                                [rowData]="rowData" [height]="'590px'"
                            ></grid-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<create-or-edit-vehicle-price-modal #createOrEditMstSleVehiclePriceModal
    (modalSave)="callBackVehiclePriceGrid(VehiclePriceParams)" [vehiclePriceSelected]="vehiclePriceToSend">
</create-or-edit-vehicle-price-modal>
