<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog tmss-modal-sm">
        <div class="modal-content">
            <div class="modal-header redline-header">
                <h4 class="modal-title">
                    <span>{{ l("SalesCustomerContactHistory") }}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form *ngIf="active" #packageForm="ngForm" novalidate autocomplete="off">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <tmss-combobox [items]="contactBy" [text]="l('MstSleContactBy')" name="ContactBy" [(ngModel)]="customerContactResult.contactById"></tmss-combobox>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <tmss-datepicker [isDisabled]="true" [(ngModel)]="customerContactResult.creationTime" [text]="l('SalesCustomerCreationTime')" name="ContactCreationTime"></tmss-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <tmss-datepicker [(ngModel)]="customerContactResult.currentDate" [text]="l('SalesCustomerCurrentDate')" name="CurrentDate"></tmss-datepicker>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <tmss-text-input [(ngModel)]="customerContactResult.currentAction" [text]="l('SalesCustomerCurrentAction')" name="CurrentAction"></tmss-text-input>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <tmss-datepicker [(ngModel)]="customerContactResult.nextDate" [text]="l('SalesCustomerNextDate')" name="NextDate"></tmss-datepicker>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <tmss-text-input [(ngModel)]="customerContactResult.nextAction" [text]="l('SalesCustomerNextAction')" name="NextAction"></tmss-text-input>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tbContent">{{l("SalesCustomerContactHistory")}}</div>
                            <grid-table
                                [columnDefs]="columnDefs" 
                                [defaultColDef]="defaultColDef" 
                                [frameworkComponents]="frameworkComponents" 
                                [rowData]="rowData" 
                                [showPagination]="false" 
                                (callBackEvent)="callBackGrid($event)"
                                [height]="'120px'"
                            ></grid-table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="tmss-btn btn-outline-primary" (click)="save()">{{l("Save")}}</button>
                <button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>
</div>
