.redline-header {
    border-bottom: 2px solid #c8102e;
	padding: 0.55rem;
}

.form-group { margin-bottom: 4px !important; }

.tbContent{
    background-image: linear-gradient(to bottom, #F5F4F9 0%, #ECEAF3 100%);
    padding: 3px;
    border: 1px solid #babfc7;
    font-family: 'Roboto';
    font-weight: 450;
    color: #000;
    height: 25px;
}