<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog tmss-modal-md">
    <div class="modal-content">
      <form *ngIf="active" #mstSleColorsForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="mstSleColors.id">{{l("MstSleColorEdit")}}</span>
            <span *ngIf="!mstSleColors.id">{{l("MstSleColorAdd")}}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
              <div class="kt-portlet__body">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <tmss-text-input [isDisable]="false" [className]="ipStRequire" [isRequired]="true" required
                        [text]="l('MstSleColorCode')" name="Code" [(ngModel)]="mstSleColors.code" [maxlength]="50">
                      </tmss-text-input>
                      <!-- <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleColorCode")}} </span>
                        <input type="text" class="col-md-7 form-control-combobox ipStRequire"
                          [(ngModel)]="mstSleColors.code" name="Code" required maxlength="50" />
                      </div> -->
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <tmss-text-input [isDisable]="false" [className]="ipStRequire"
                        [text]="l('MstSleColorVnName')" name="VnName" [(ngModel)]="mstSleColors.vnName" [maxlength]="255">
                      </tmss-text-input>
                      <!-- <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleColorVnName")}}</span>
                        <input type="text" class="col-md-7 form-control-combobox" [(ngModel)]="mstSleColors.vnName"
                          name="VnName" maxlength="255" />
                      </div> -->
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <tmss-text-input [isDisable]="false" [className]="ipStRequire"
                        [text]="l('MstSleColorEnName')" name="EnName" [(ngModel)]="mstSleColors.enName" [maxlength]="255">
                      </tmss-text-input>
                      <!-- <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleColorEnName")}}</span>
                        <input type="text" class="col-md-7 form-control-combobox" [(ngModel)]="mstSleColors.enName"
                          name="EnName" maxlength="255" />
                      </div> -->
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <tmss-text-input [isDisable]="false" [className]="ipStRequire"
                        [text]="l('MstSleColorHexCode')" name="hexCode" [(ngModel)]="mstSleColors.hexCode" [maxlength]="10">
                      </tmss-text-input>
                      <!-- <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleColorHexCode")}}</span>
                        <input type="text" class="col-md-7 form-control-combobox" [(ngModel)]="mstSleColors.hexCode"
                          name="hexCode" maxlength="10" />
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <tmss-text-input [isDisable]="false" [className]="ipStRequire"
                        [text]="l('MstSleColorDescription')" name="Description" [(ngModel)]="mstSleColors.description" [maxlength]="255">
                      </tmss-text-input>
                      <!-- <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleColorDescription")}}</span>
                        <input type="text" class="col-md-7 form-control-combobox" [(ngModel)]="mstSleColors.description"
                          name="Description" maxlength="255" />
                      </div> -->
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <tmss-combobox [isDisabled]="false" [isRequired]="true" required [items]="listStatus"
                        					[text]="l('MstSleColorStatus')" name="Status"
                        					[(ngModel)]="mstSleColors.status"></tmss-combobox>
                      <!-- <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleColorStatus")}}</span>
                        <select class="col-md-7 form-control-combobox ipStRequire" [(ngModel)]="mstSleColors.status"
                          name="Status" required>
                          <option value="Y">{{l("MstSleEnable")}}</option>
                          <option value="N">{{l("MstSleDisable")}}</option>
                        </select>
                      </div> -->
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <tmss-text-input [type]="number" [isDisable]="false" [className]="ipStRequire"
                        [text]="l('MstSleColorOrdering')" name="Ordering" [(ngModel)]="mstSleColors.orderingRpt" [maxlength]="4">
                      </tmss-text-input>
                      <!-- <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleColorOrdering")}}</span>
                        <input type="number" class="col-md-7 form-control-combobox"
                          oninput="this.value=this.value.slice(0,this.maxLength||''); this.value=(this.value < 1) ? '' : this.value;"
                          min="1" max="9999" maxlength="4" [(ngModel)]="mstSleColors.orderingRpt" name="Ordering" />
                      </div> -->
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <tmss-text-input [type]="number" [isDisable]="false" [className]="ipStRequire"
                        [text]="l('MstSleColorOrderingRpt')" name="Ordering" [(ngModel)]="mstSleColors.orderingRpt" [maxlength]="4">
                      </tmss-text-input>
                      <!-- <div class="row input-group">
                        <span class="col-md-5 input-group-addon">{{l("MstSleColorOrderingRpt")}}</span>
                        <input type="number" class="col-md-7 form-control-combobox"
                          oninput="this.value=this.value.slice(0,this.maxLength||''); this.value=(this.value < 1) ? '' : this.value;"
                          min="1" max="9999" maxlength="4" [(ngModel)]="mstSleColors.orderingRpt" name="Ordering" />
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <tmss-text-input [isDisable]="false" [className]="ipStRequire"
                        [text]="l('MstSleColorHexCode2')" name="hexCode2" [(ngModel)]="mstSleColors.hexCode2" [maxlength]="10">
                      </tmss-text-input>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark"
            (click)="close()">{{l("MstSleColorCancel")}}</button>
          <button type="submit" class="tmss-btn btn-outline-primary" [disabled]="!mstSleColorsForm.form.valid"
            [buttonBusy]="saving" [busyText]="l('MstSleColorSaveWithThreeDot')"><i class="fa fa-save mr-1"></i>
            <span>{{l("MstSleColorSave")}}</span></button>
        </div>
      </form>
    </div>
  </div>
</div>