.modal-body {
    padding: unset !important;
  }
  
  input:focus {
      outline-offset: none !important;
  }
  :focus {
      outline:none !important;
  }
  
  .kt-content { padding: 0;  }
  .kt-container { padding: 0 6px;  }
  
  .ag-theme-alpine .ag-row:hover {background-color: #e8e8e8;}
  .ag-theme-alpine .ag-row {
      font-size: 11px !important;
      font: 400 11px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important; 
      line-height: 26px !important; 
      border-bottom: 0px solid #bdc3c7 !important;
      padding-left: 11px !important;
      padding-right: 11px !important;
  }
  
  .ag-theme-alpine .ag-row-odd {
      background-color: #e7f6ff;
  }
  .ag-theme-alpine .ag-ltr .ag-cell{ 
      border-right: .1px solid #ccd2d2 !important;
      line-height: 26px !important; 
      padding-left: 11px !important;
      padding-right: 11px !important;
  }
  
  .ag-theme-alpine .ag-header-row{ font-weight: normal !important; font-size: 11px;  }
  .ag-theme-alpine .ag-header-cell-label {
      justify-content: center; 
  }
  .my-ag-header-css-class-cell {  
      text-align: left; 
      border-right: 1px solid #d9dcde!important;
      
  }
  
  .my-ag-header-css-class{ 
      text-align: left; 
      border-right: 1px solid #d9dcde!important; 
  }
  
  .ag-pivot-off .ag-header-group-cell { 
      text-align: center !important; 
   }
   
   .ag-pivot-off .ag-header-group-cell-text { 
      text-align: center !important;   
   }
  
   .ag-header-group-cell-label {
      justify-content: center; 
    }
  
   
  
  .input-group-addon { 
      padding: 6px 6px;
      font-size: 11px;
      font-weight: 400;
      line-height: 1;
      color: #555;
      text-align: center;
      background-color: #eee;
      border: 1px solid #ccc;
      width: 35%;
      border-right: 5px;
  }
  
  .form-control-combobox {
     
      padding: .25rem .5rem;
      font-size: .875rem;
      line-height: 1.44;
      border: 1px solid #ced4da;
      background-clip: padding-box;
      width: 100%;
  }
  
  .form-control-combobox:focus,.form-control-combobox:active { 
      outline-offset: none !important;
      border: 1px solid #007bff;
      line-height: 1.44;
  }
  
  .form-control-input {
   
      padding: .25rem .5rem;
      font-size: .875rem;
      line-height: 1.44;
      border: 1px solid #ced4da;
      background-clip: padding-box;
      max-width: 600px;
      width: 400px;
  }
  .form-control-input:focus,.form-control-input:active { 
      outline-offset: none !important;
      border: 1px solid #007bff;
      line-height: 1.44;
  }
  
  
  topbar,
  .kt-header__topbar,
  .kt-header__topbar .kt-header__topbar-item,
  .kt-header__topbar .kt-header__topbar-item .kt-header__topbar-wrapper { height: 34px!important;}
  
  .kt-subheader{ margin: 4px 0; }
  
  .kt-portlet .kt-portlet__body { padding: 6px;  }
  .kt-portlet .kt-portlet__body .row { margin-left: 0px; margin-right: 0px; }
  .kt-subheader .kt-subheader__main { padding-top: 0px; padding-bottom: 0px; }
  .kt-subheader .btn{  height: 24px !important; margin-top: 0;  margin-bottom: 0; }
  
  
  .form-group{ margin-bottom: 5px; }
  
  .grid-header{height: 25px; padding: 5px 15px 5px 40px;color: #333;
      background-color: #f5f5f5;
      border-color: #ddd;font-size: 11px;background-image: linear-gradient(to bottom, #F5F4F9 0%, #ECEAF3 100%);
      background-repeat: repeat-x;
      border-bottom: 1px solid #CDCDCD;
      border-radius: 6px 6px 0 0;
      box-shadow: 0 1px 0 #FFFFFF inset;
  position: relative; }
  
  .grid-header-icon { border-right: 1px solid #CDCDCD;
      box-shadow: 1px 0 0 0 #FFFFFF;
      opacity: 0.7;
      padding: 12px 10px 8px;
      position: absolute; 
      left: 0;
      top: 0;
      height: 36px;color: #333;padding-top: 7px; 
  }
  
  .panel-grid{background-color: #fff;
      border: 1px solid transparent;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);border-color: #ddd;}   
  
  
  .primeng-paging-container { padding: 0 5px;}
  
  .grid-total { color:#333; font-size: 11px;}
  .grid-total .grid-break-total { padding-left: 10px;}
  
  .check-box{
      margin-left: 25px;
  
  }
  
  .font-text{
      font-size: 0.9em;
      font-weight: 600;
      text-align: left;
  }
  
  .ipStRequire{
    background-color: #ffc!important;
  }
  
  .row div {
      padding-left: unset;
  }
  
  .row-button{
      justify-content: space-between;
  }
  
  .tab-content {
      border-bottom: 0.5px solid #dee2e6;
      // border-left: 0.5px solid #dee2e6;
      // border-right: 0.5px solid #dee2e6;
  }
  
  .ag-table{
      padding-bottom: 5px;
  }
  
  
  input[type=checkbox] {
      width: 40%;
      height: 75%;
  }
  
  .modal-header {
      border-bottom: 2px solid #c8102e;
      padding: 0.55rem;
      background: rgba(217, 217, 217, 0.5);
  
  }
  
  .text-head{
      color: #434349;
  }
  
  .checkbox-span{
      padding: 6px 6px;
      font-size: 11px;
      font-weight: 400;
      line-height: 1;
      color: #555;
      text-align: center;
      background-color: #eee;
      border: 1px solid #ccc;
  }
  .ag-theme-alpine .ag-details-row {
      padding: unset !important;
  }
  