<div class="ui-g-12 ph-0" id="button-container">
    <button
        *ngIf="buttonDef"
        type="button"
        class="ag-in-cell-button"
        (click)="customFunction()"
        [disabled]="disableButton"
        [ngClass]="buttonDefTwo ? 'ui-g-6 ui-md-6 tmss-btn btn-outline-primary' : !buttonDefTwo && !buttonDef.className ? 'ui-g-12 ui-md-12 tmss-btn btn-outline-primary': 'ui-g-12 ui-md-12' + buttonDef.className ? buttonDef.className : 'tmss-btn btn-outline-primary'">
        <i style="margin-right: 5px;" *ngIf="buttonDef.iconName" class="{{ buttonDef.iconName }} tmss-fa"></i>
        <span style="position: relative; top: -3px; margin-top: 5px;">{{ displayText }}</span>
    </button>
    <button
        *ngIf="buttonDefTwo"
        type="button"
        class="ui-g-6 ui-md-6 ag-in-cell-button"
        [ngClass]="buttonDefTwo.className ? buttonDefTwo.className : 'tmss-btn btn-outline-primary'"
        (click)="customFunctionTwo()"
        [disabled]="disableButtonTwo"
    >
        <i *ngIf="buttonDefTwo.iconName" style="margin-right: 5px;" class="{{ buttonDefTwo.iconName }} tmss-fa"></i>
        <span style="position: relative; top: -3px; margin-top: 5px;">{{ buttonDefTwo.text }}</span>
    </button>
</div>
