<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog tmss-modal-md">
        <div class="modal-content">
            <form *ngIf="active" #mstGenProvincesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="mstGenProvinces.id">{{ l("EditMstGenProvinces") }}</span>
                        <span *ngIf="!mstGenProvinces.id">{{ l("CreateNewMstGenProvinces") }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                        <div class="kt-portlet kt-portlet--mobile">
                            <div class="kt-portlet__body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input [className]="'ipStRequire'" [isRequired]="false" [isRequired]="true" [(ngModel)]="mstGenProvinces.code" 
                                            [text]="l('Code')" name="Code" [maxlength]="50"></tmss-text-input>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input [className]="'ipStRequire'" [isRequired]="false" [isRequired]="true" [(ngModel)]="mstGenProvinces.name" 
                                            [text]="l('Name')" name="Name" [maxlength]="50"></tmss-text-input>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input type="number" [className]="'ipStRequire'"  [isRequired]="false"  [isRequired]="true" [(ngModel)]="mstGenProvinces.ordering"
                                             [text]="l('Ordering')" name="ordering" ></tmss-text-input>
                                        </div>
                                    </div>
                                
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input type="number"  [(ngModel)]="mstGenProvinces.squareAmount"
                                             [text]="l('SquareAmount')" name="SquareAmount" ></tmss-text-input>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input type="number"  [(ngModel)]="mstGenProvinces.populationAmount"
                                             [text]="l('PopulationAmount')" name="PopulationAmount" ></tmss-text-input>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <tmss-text-input type="number"  [(ngModel)]="mstGenProvinces.percentOwnershipTax"
                                                 [text]="l('MstGenProvincesPercentOwnershipTax')" name="PercentOwnershipTax" ></tmss-text-input>
                                            </div>
                                        </div>
                                    </div>
                                
                                  
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input type="number"  [(ngModel)]="mstGenProvinces.registrationFee"
                                                 [text]="l('MstGenProvincesRegistrationFee')" name="RegistrationFee" ></tmss-text-input>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                              <tmss-combobox [className]="'ipStRequire'" [isDisabled]="false" [isRequired]="true" [items]="regions" [(ngModel)]="mstGenProvinces.subRegionId" [text]="l('SubRegion')" name="Region"  required>
                                               </tmss-combobox>
                                              <!-- <div class="row input-group">
                                                <span class="col-md-7 checkbox-span">{{l("SubRegion")}}</span>
                                                <select class="col-md-5 form-control-combobox ipStRequire" [(ngModel)]="mstGenProvinces.subRegionId" name="Region" required>
                                                    <option *ngFor="let subRegion of regions" [value]="subRegion.id"> {{subRegion.name}}</option>
                                                </select>
                                            </div>   -->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-combobox [className]="'ipStRequire'" [isDisabled]="false" [isRequired]="true" [items]="listStatus" [(ngModel)]="mstGenProvinces.status" [text]="l('Status')" name="status"></tmss-combobox>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-combobox  [isDisabled]="false" [items]="listServiceLocation"
                                                [(ngModel)]="mstGenProvinces.serviceLocationId" [text]="l('ServiceLocationCode')" name="serviceLocationId"></tmss-combobox>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row input-group">
                                                <span class="col-md-7 input-group-addon">{{l("MstSleGenDealerGroupInsurance")}}</span>
                                                <select name="groupInsuranceId" type="text" class="col-md-5 form-control-combobox"
                                                    [(ngModel)]="mstGenProvinces.groupInsuranceId">
                                                    <option *ngFor="let mstGenProvinces of listInsurance" [value]="mstGenProvinces.value">
                                                        {{mstGenProvinces.label}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="tmss-btn btn-outline-danger" (click)="close()">
                        {{ l("Cancel") }}
                    </button>
                    <button type="submit" class="tmss-btn btn-outline-primary"
                        [disabled]="!mstGenProvincesForm.form.valid" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save mr-1"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>